[2015-11-29 15:13] gregpriday opened #1 "Add option to disable responsive layout"
Right now, there's no way for a user to disable the responsive layout if they don't want to use it.

[2015-11-29 15:21] gregpriday opened #2 "Option to have external SVG instead of inline"
All SVG is loaded inline. This is to make it possible to animate the SVG image using CSS3 animations.

There are cases, when a user might prefer to forgo these animations to have the SVG files be externally hosted. This should be a theme option.

[2015-11-29 15:53] gregpriday opened #3 "Create WooCommerce cart in menu"
The original design for North has a shopping cart in the menu. This still needs to be implemented.

https://drive.google.com/file/d/0B1NA5KhRaLDDcWRMMnRhMU5oSWc/view?usp=sharing

[2015-11-29 16:59] gregpriday opened #4 "Add breadcrumb support"
We should have support for a few popular breadcrumb options. [Yoast SEO Breadcrumbs](https://wordpress.org/plugins/wordpress-seo/) and [Breadcrumb NavXT](https://wordpress.org/plugins/breadcrumb-navxt/).

This should be done using the [detail font](https://github.com/siteorigin/siteorigin-north/blob/develop/sass/variables-site/_variables-site.scss#L7) and the [light or meta color](https://github.c

[2015-11-29 17:01] gregpriday opened #5 "Add RTL support"
We need to investigate what would all be involved in RTL support and implement it.

[RTL Tester](https://wordpress.org/plugins/rtl-tester/) is a good plugin for testing this.

[2015-11-29 17:04] gregpriday opened #6 "Add full accessibility support"
We need to thoroughly implement all the recommended and required [accessibility guidelines](https://make.wordpress.org/themes/handbook/review/accessibility/). Once we've implemented everything, we can add the `accessibility-ready` tag.

[2015-11-29 17:11] gregpriday opened #7 "Add retina image using srcset"
The first step would be giving the user a second field to upload a double sized version of their logo and then using srcset attribute in the current logo image to support this double sized version.

The setting should be added after the [existing logo setting](https://github.com/siteorigin/siteorigin-north/blob/develop/inc/settings.php#L30-L34), and then added in the `siteorigin_north_display_logo

[2015-11-29 17:13] gregpriday commented on #7
[This guide](http://thenewcode.com/944/Responsive-Images-For-Retina-Using-HTML5s-srcset) should help for using `srcset` for retina images.

[2015-11-29 17:33] gregpriday opened #8 "Add an option for a mobile menu breakpoint."
We often hear from users wanting to change the point at which the menu collapses into a mobile menu. Would be great to have this as a theme setting. This should go in the [responsive section](https://github.com/siteorigin/siteorigin-north/blob/develop/inc/settings.php#L148), under the Responsive Menu Text setting.

This is currently handled as a hard coded media query in SCSS: https://github.com/s

[2015-11-30 13:02] gregpriday commented on #3
This shopping bag icon is already actually in the [North icons](https://github.com/siteorigin/siteorigin-north/blob/develop/css/north-icons.css).

[2015-12-03 12:42] #7 closed

[2015-12-03 12:53] gregpriday commented on #1
The easiest way to do this would be to add a setting, which would disable the [viewport header](https://github.com/siteorigin/siteorigin-north/blob/develop/header.php#L14).

It's generally considered good practice to have as little code in the header as possible. So it would be better to have this all handled in a function in `functions.php`, that's hooked to the `wp_head` action.

This setting sh

[2015-12-03 12:54] gregpriday commented on #5
We can also look at what Underscores has done to implement RTL.

https://github.com/automattic/_s

[2015-12-04 06:05] adiraomj commented on #5
For RTL support we have to add
`body { direction: rtl; unicode-bidi: embed; }`

I was just wondering if we should also flip the layout as well, like so
`.content-area { float: right }`

[2015-12-04 06:07] Misplon commented on #5
Anything that has been floated left has to be floated right. Anything that has text align left usually needs text align right. That's the gist of creating a RTL stylesheet.

[2015-12-04 06:08] Misplon commented on #5
Brief intro here: https://codex.wordpress.org/Right-to-Left_Language_Support.

Plugin to use in testing: https://wordpress.org/plugins/rtl-tester/

[2015-12-05 16:02] adiraomj commented on #5
Should I also apply RTL support for [alignleft](https://github.com/siteorigin/siteorigin-north/blob/develop/style.css#L721) and [alignright](https://github.com/siteorigin/siteorigin-north/blob/develop/style.css#L726).

[2015-12-05 16:03] Misplon commented on #5
Good question. Mmm. I think those would stay the same.

[2015-12-06 07:28] adiraomj commented on #1
I'm running into one problem, when sticky menu enabled the fixed position style is applied to #masthead. So in smaller screens with responsive layout disabled, the #masthead is fixed to the left and does not move with horizontal scroll. Was wondering how to solve this.

[2015-12-06 14:01] adiraomj commented on #1
How about this, if I change [this line](https://github.com/siteorigin/siteorigin-north/blob/develop/js/north.js#L239) to `'left': 0 - self.pageXOffset+'px',` it solves the problem.

Is this the best way to go about it ?

[2015-12-07 07:55] gregpriday commented on #1
I thought there might be a few more challenges to this issue that I hadn't thought about.

The only issue with changing that line to `'left': 0 - self.pageXOffset+'px',`, is that might not handle the case of having something set in Customize > Theme Settings > Header > Text Above. This slightly offsets the top of the menu and is the reason the sentinel positioning was important.

If that solution

[2015-12-08 07:36] adiraomj commented on #1
I have submitted a PR.

I did not find any problems with the `#topbar` with changing the line of js.

Please check the PR and let me know if everything works as expected or if I overlooked anything.

[2015-12-11 12:47] adiraomj commented on #3
This is where I have reached for [Large Screens](https://www.dropbox.com/s/yycc8z0b0859lq3/woocart-dropdown.png?dl=0) and [Mobile Screens](https://www.dropbox.com/s/b4smnfyy6ptwv64/woocart-mobile.png?dl=0).

I have to still do some work on the CSS. I wanted to know how you felt about the layout and the elements.

I have added the "View Cart" button and "Subtotal" text which appear in the default W

[2015-12-12 12:04] adiraomj commented on #2
I have not worked with svg before, so for the sake of clarity;

In the settings I have to add options for links to the svg icons for the menu, close search and scroll to top. After which I should use them in the theme like [this](https://css-tricks.com/svg-use-external-source/).

[2015-12-14 16:27] gregpriday commented on #2
I would have originally suggested using an IMG element, but `use` with an external reference is a much better idea. With this, we should be able to keep the CSS3 animations and the options to change the colors of the SVG elements.

[2015-12-14 17:03] gregpriday commented on #8
Resolved.

[2015-12-14 17:03] #8 closed

[2015-12-14 17:04] #4 closed

[2015-12-19 06:17] adiraomj commented on #5
I submitted a PR. It covers rtl support for all the default templates. Please check if everything is working as expected, especially in the main navigation.

I have to complete rtl support for WooCommerce. I will send a PR for it soon.

[2015-12-24 14:48] adiraomj commented on #2
I have added the options for svg icons and used them in the templates.

Should I also add options to change the icons colors? If yes , should I also apply the changes to the default icons included with the theme?

A link to the [branch](https://github.com/adiraomj/siteorigin-north/tree/svg-icons), if you wanna have a look.

[2015-12-27 11:03] gregpriday commented on #2
I like what you've done in that branch. We can add icon colour changing options at a later stage. I prefer the idea of getting a theme mature and having some idea of how people are using it before adding customization options like this.

I see you've added svgxuse - https://github.com/Keyamoon/svgxuse? Do you know what browser support for `<use>` in SVG is like these days? I couldn't find any info

[2015-12-28 14:15] adiraomj commented on #2
Thanks @gregpriday. Hope this helps. https://developer.mozilla.org/en-US/docs/Web/SVG/Element/use

I will check everything and send a PR tomorrow.

[2015-12-28 14:33] adiraomj commented on #5
For woocommerce RTL support, there is quite a few changes that have to be made.

One way to go about it to just add the changes to the rtl.css file.

Or we can [disable the default woocommerce stylesheets] (https://docs.woothemes.com/document/disable-the-default-stylesheet/) and make a new woocommerce-rtl.css file that loads for RTL pages.

How would you prefer going about it?

[2015-12-29 07:07] gregpriday commented on #5
@adiraomj are you saying that we'd need to override a lot of the core WooCommerce CSS to have full RTL support?

I'd still prefer using a `woocommerce-rtl.css` file that works in conjunction with the core WooCommerce CSS. Mainly because this would be a lot more maintainable than completely replacing it. How difficult would it be to go this route?

[2015-12-31 04:41] adiraomj commented on #5
It would definitely be better to maintain. I have started work on this.

I will be making 2 stylesheets, woocommerce-rtl.css and woocommerce-smallscreen-rtl.css. The smallscreen stylesheet will be loaded as it is done in the plugin.

This will also make it easier for us to disable when the responsive state has been disabled.

[2015-12-31 07:49] gregpriday commented on #5
Great, once you've made these changes, update your pull request and I'll check it all out.

[2015-12-31 09:18] adiraomj opened #15 "SASS Compiler"
@gregpriday, on this [commit](https://github.com/siteorigin/siteorigin-north/commit/57c715ab4eff1b5401fd813a8e5c5bfd6b66c061), I guess you compiled the SCSS and It din't compile properly [here](https://github.com/siteorigin/siteorigin-north/commit/57c715ab4eff1b5401fd813a8e5c5bfd6b66c061#diff-0380fb544d4fe68e179c828ee2dbe149R63), [here](https://github.com/siteorigin/siteorigin-north/commit/57c715a

[2015-12-31 09:53] gregpriday commented on #15
I've started using build script in `build:dev` mode. I assume this is using the version of SASS that I have in the command line, which is currently `Sass 3.4.20 (Selective Steve)`.

What are you using to compile the SCSS files? We probably need to make sure that we're using exactly the same setup.

[2015-12-31 09:56] gregpriday commented on #3
I really like what you've done with both of those designs. They need a few minor design tweaks (mainly in the padding), but the general idea you've had for both of these is perfect.

[2015-12-31 10:40] adiraomj commented on #15
Well.. I just started using gulp, so i'm still finding my feet with it. I just followed the instructions in the [README](https://github.com/siteorigin/theme-build/blob/develop/README.md) file to setup my environment and run builds.

So, how do I check which version of Sass has been installed?

Thanks for the help.

[2015-12-31 11:39] adiraomj commented on #15
guess i'm running version [3.3.2](https://github.com/sass/node-sass/blob/master/package.json#L4)

[2015-12-31 12:11] gregpriday commented on #15
I'll see what I can do with the configuration to sort this out. Alternatively, is there anything we can change in the SCSS files to make sure they're compiled the same way across all versions?

[2015-12-31 15:26] gregpriday commented on #15
So it seems like changing `@at-root body.responsive#{&} {` to `@at-root body.responsive & {` causes the CSS to compile properly. I've never used at-root before, but after reading the docs, it seems like the second syntax should be the valid one.

Let me know if I'm missing something here though.

[2015-12-31 17:01] adiraomj commented on #15
Initially I did try `@at-root body.responsive & {` but it compiles to `body.responsive .woocommerce.single `.

What we need is `body.responsive.woocommerce.single `. Basically the classes `responsive`, `woocommerce` and `single` are associated with the body element.

Do you get what I mean? :)

[2016-01-01 15:10] adiraomj commented on #15
Sorry, the version I mentioned [above](https://github.com/siteorigin/siteorigin-north/issues/15#issuecomment-168179863) is the libsass version.

I'm also using  `Sass 3.4.20 (Selective Steve)`.

sorry about that.

[2016-01-03 20:06] adiraomj commented on #15
@gregpriday. please check the version of libsass you are using.

Check out this [issue](https://github.com/sass/libsass/issues/1491).

Seems like the problem has been sorted out in libsass version 3.3.

[2016-01-04 07:05] gregpriday commented on #15
Aaah, there we go. I just removed all the old node modules and did a full reinstall of the build packages. It compiles properly now.

I'll commit the reverts to the changes I made shortly.

[2016-01-04 07:10] gregpriday commented on #15
Here's the revert, can you double check this is compiled properly now?

https://github.com/siteorigin/siteorigin-north/commit/7ea0f6a1984800d35c42e8ca2bb18af9704dcff0

If it has, feel free to re-close this issue.

[2016-01-04 07:50] adiraomj commented on #3
Please check the PR and let me know if anything wrong. ;)

[2016-01-04 07:53] adiraomj commented on #15
Everything seems to be in order.

[2016-01-04 07:53] #15 closed

[2016-01-04 19:39] #5 closed

[2016-01-04 19:41] gregpriday commented on #1
This was resolved by https://github.com/siteorigin/siteorigin-north/pull/11

[2016-01-04 19:41] #1 closed

[2016-01-04 21:35] gregpriday opened #17 "Menu Overlaps Content page setting doesn't work"
The menu doesn't overlap the content and there's a page jump when the user scrolls down the page slightly.

[2016-01-05 06:51] adiraomj commented on #17
Just wondering what `Overlaps Content` is expected to do. All I see is a change in the opacity of the `#masthead`. I think a description would be helpful.

[2016-01-05 06:55] adiraomj opened #18 "Full Width page setting does not work"
The `Full Width` option under Page Layout is not implemented.

@gregpriday Also an option for `Full Width, No Sidebar` would be a nice addition. What do you think?

[2016-01-05 10:31] gregpriday commented on #17
I'll take a quick look at this. I think it might actually be a quick fix.

[2016-01-05 10:34] #17 closed

[2016-01-05 10:48] gregpriday commented on #18
Well spotted. I think all that's necessary here is the CSS to target the container class.

So something like

[code]

I haven't tested that out, but it's a start.

The current `Full Width` setting excludes the sidebar, so the setting we'd want to introduce would be `Full Width, With Sidebar`.

This is where the sidebar is either displayed or not: https://github.com/siteorigin/siteorigin-north/blob

[2016-01-05 15:18] #18 closed

[2016-01-06 12:09] gregpriday opened #20 "Style form elements in post content"
At the moment, form elements in post content aren't very well styled. They still have the default styling that came with [Underscores](https://github.com/automattic/_s).

Ideally form elements should have fairly similar styling to the comment form.

You can see an example of the poor styling on a password protected form.

![screen shot 2016-01-06 at 1 52 27 pm](https://cloud.githubusercontent.com/

[2016-01-07 16:04] adiraomj commented on #6
I have started working on this issue. Here is the [branch](https://github.com/adiraomj/siteorigin-north/tree/full-accessibility).

For [Controls](https://make.wordpress.org/themes/handbook/review/accessibility/required/#controls), we will have to convert the search, close and scroll to top icons into links.

Just  so that I am clear, we will have to enclose them using the `<a>` element and then ma

[2016-01-08 07:39] gregpriday commented on #6
That sounds good. The method I've seen for this is adding a `text-indent: -9999px;` to this sort of support text to make it hidden.

[2016-01-08 08:56] adiraomj commented on #20
I have sent a PR. I have covered styling for contact form 7. Just check it and let me know if you would like any changes.

[2016-01-12 13:04] adiraomj opened #23 "Twitter Embeds not working"
Twitter links in the content are not displaying an `iframe` on the site.

The twitter iframe is visible in the Editor.

[2016-01-13 09:36] #20 closed

[2016-01-13 09:37] gregpriday commented on #3
Merged and resolved :+1:

[2016-01-13 09:37] #3 closed

[2016-01-14 10:52] adiraomj commented on #2
@gregpriday check out this repo https://github.com/jonathantneal/wp-svg-spritemap/. It is more or less exactly what we need.

[2016-01-14 11:52] gregpriday commented on #2
That's an interesting looking plugin, but I think it would be a bit too heavy to add that to North or the settings framework right now. Maybe one day though.

Is there no way to for us to implement this without using spritemaps? So just letting users upload individual SVG files for each icon? I know there's a bit of a performance hit for this, but that's worth it if it makes things easier for user

[2016-01-14 13:53] adiraomj commented on #2
Came across this Gist https://gist.github.com/Lewiscowles1986/44f059876ec205dd4d27. What do you think?

Does everything we want. It does not show the svg in the customizer. I guess we can fix that.

[2016-01-14 18:07] gregpriday commented on #2
The only thing I'd be worried about with using all these filters to enable SVG support is that we'd be opening ourselves up to a lot of potential plugin conflicts, etc. It's generally best to try avoid that.

So here's one other option we have, we could let users upload their own custom icons in either PNG or JPG formet, which WordPress obviously supports natively. Then we could incorporate suppor

[2016-01-18 06:13] adiraomj commented on #2
Ok. Will do it.

[2016-01-18 06:58] adiraomj commented on #2
Just wondering.. Since we are moving in a fresh direction on this issue. Do I just make changes to the existing PR or send a new PR?

[2016-01-18 12:43] gregpriday commented on #2
If it's different enough that you'd like to start with a fresh branch from
develop, then you can start a new branch and new PR, else feel free to
continue with the existing branch and PR.
On Mon, 18 Jan 2016 at 8:58 AM Adi Rao <notifications@github.com> wrote:

[2016-01-19 10:03] adiraomj commented on #6
Hi. For [Icons](https://make.wordpress.org/themes/handbook/review/accessibility/required/#images) in the post navigation.

https://github.com/siteorigin/siteorigin-north/blob/develop/inc/template-tags.php#L80

Do we use screen-reader-text or aria-hidden?

[2016-01-20 18:04] adiraomj commented on #2
The SVG Support plugin allows us to upload & select svg files. However they do not appear in the customizer fields.

I have posted a support question [here](https://wordpress.org/support/topic/display-svg-in-customizer?replies=1)

[2016-01-21 14:12] adiraomj commented on #6
I have sent a PR. Please take a closer look at (and test) the changes I have made WRT

https://make.wordpress.org/themes/handbook/review/accessibility/required/#controls
https://make.wordpress.org/themes/handbook/review/accessibility/required/#keyboard-navigation

Everything seemed to be working fine for me.

[2016-01-27 14:06] gregpriday opened #27 "Compatibility with the latest WooCommerce"
As of WooCommerce 2.5, there are some small incompatibility issues. There's a notice about North using some outdated templates as soon as you activate WooCommerce.

[2016-03-01 04:55] gregpriday opened #30 "Reposition WooCommerce mini-cart dropdown"
The mini cart icon will usually appear on the right of the screen. If the user has a smaller browser window, this will cause the mini cart to fall off the right edge of the screen.

<img width="444" alt="screen shot 2016-03-01 at 6 42 26 am" src="https://cloud.githubusercontent.com/assets/1126859/13418077/837aa412-df7a-11e5-898a-ffb3f22e197c.png">

To fix this, we just need to reposition the dropd

[2016-03-01 04:58] #27 closed

[2016-03-01 09:37] #30 closed

[2016-03-01 09:45] gregpriday opened #32 "Style WooCommerce cart"
The WooCommerce shopping cart page still has fairly default styling. We should style this like the design spec.

https://drive.google.com/open?id=0B1NA5KhRaLDDcEI1WmFNdTh1ZWc

The file is `06_shopping_cart.psd`.

[2016-03-01 09:45] gregpriday commented on #32
We can leave out the related products for now.

[2016-03-01 09:48] gregpriday opened #33 "Sale icon should be round"
The sale icon should be round instead of oval. This can probably be done using some sort of minimum height and width.

![screen shot 2016-03-01 at 11 46 25 am](https://cloud.githubusercontent.com/assets/1126859/13423424/78b1596c-dfa3-11e5-92ce-b77559549ce6.png)

[2016-03-01 09:54] gregpriday opened #34 "Fix rounding of mini cart icon"
The mini cart count icon should expand in a way that keeps the top and bottom flat. This will probably be as simple as reducing the border radius.

![screen shot 2016-03-01 at 11 49 21 am](https://cloud.githubusercontent.com/assets/1126859/13423565/4bc92992-dfa4-11e5-944e-44cc14a87939.png)

For examples, you can check out how Bootstrap does [badges](http://getbootstrap.com/components/#list-group-b

[2016-03-01 09:57] gregpriday opened #35 "Fix mini cart dropdown padding"
The padding on the mini cart dropdown should be the same on all edges. My guess is that it needs about 25 pixels of padding on each edge.

![screen shot 2016-03-01 at 11 55 41 am](https://cloud.githubusercontent.com/assets/1126859/13423631/b2981dfe-dfa4-11e5-92b9-f9d5738811f7.png)

[2016-03-01 10:00] gregpriday opened #36 "Swop mini cart and search icon"
The search icon position is actually quite specific for the search overlay. So when the user clicks on the search icon, it's meant to look like the search close icon is coming from the search icon. This also allows the user to open and close the search overlay without moving their mouse.

This alignment is thrown off when the mini cart icon is enabled. Ideally, the mini cart icon should be to the

[2016-03-01 11:22] gregpriday opened #37 "Fix styling of search widget in sidebar."
Not 100% sure how we should handle this search. Maybe having the search button to the right of the search input. It could also go below the input field.

![screen shot 2016-03-01 at 1 21 31 pm](https://cloud.githubusercontent.com/assets/1126859/13425604/abb3aae2-dfb0-11e5-9b6c-e7b33a07b094.png)

[2016-03-01 11:24] Misplon commented on #37
We could remove the Search button / hide it and instead insert a search icon far right. That's quite neat.

[2016-03-01 11:26] gregpriday opened #38 "Change default form styling"
The default form styling we added might actually need some adjustments. The main issue is that there isn't that much room for the values. For example, the WooCommerce checkout page.

![screen shot 2016-03-01 at 1 24 30 pm](https://cloud.githubusercontent.com/assets/1126859/13425690/2307b3c2-dfb1-11e5-9e7d-659af3566315.png)

Just lowering the side padding should help this.

[2016-03-01 11:44] adiraomj commented on #37
We can just remove the button. Doesn't seem like we will be using it anywhere.

[2016-03-02 04:16] adiraomj commented on #37
I like Andrew's suggestion, with sharp corners and a white background it should blend in well with the other fields.

[2016-03-02 09:19] #32 closed

[2016-03-02 09:29] gregpriday commented on #33
Resolved by https://github.com/siteorigin/siteorigin-north/pull/40

[2016-03-02 09:29] #33 closed

[2016-03-02 09:29] gregpriday commented on #34
Resolved by https://github.com/siteorigin/siteorigin-north/pull/40

[2016-03-02 09:29] #34 closed

[2016-03-02 09:29] gregpriday commented on #35
Resolved by https://github.com/siteorigin/siteorigin-north/pull/40

[2016-03-02 09:29] #35 closed

[2016-03-02 09:30] #36 closed

[2016-03-02 10:27] gregpriday opened #42 "Checkout button doesn't work in cart"
The checkout button doesn't seem to work. It just takes you back to the cart page. I was able to fix it by replacing the button with an input, but this means we lose the cart icon and styling. So ideally we should find a way to use the button.

https://github.com/siteorigin/siteorigin-north/commit/77a4b32e7ac4f383639f03f4a6b21e67c850cec5

[2016-03-02 12:37] #42 closed

[2016-03-02 17:50] adiraomj commented on #38
Once we place the `Additional Information` is placed below the `Billing Details` ( like in the PSD ), the fields will be less cramped. How about I send a PR with no changes to the side padding and see if it necessary with our new layout?

[2016-03-04 04:07] adiraomj commented on #37
We also use the design from the psd. It's quite neat too.

![slice 1](https://cloud.githubusercontent.com/assets/3372029/13517774/b91dca76-e1ec-11e5-9ef3-a32112c09e5b.png)

[2016-03-04 04:33] gregpriday commented on #37
There we go, that's exactly what we should be using.

[2016-03-04 11:31] adiraomj opened #46 "Disable responsive layout compatibility"
Compatibility with the `Disable Responsive Layout` setting has to be added to the cart and checkout pages.

[2016-03-07 08:59] AlexGStapleton opened #47 "Sub-menu issues with short navigation labels"
When a navigation label is set to a very low amount of text (up to about 5 - don't quote me on this though) for all menu items the sub menu the sub menu anchors won't be full width (seen on the left side - the blue is the size of the link) and can sometimes even been merged into one row.

![uhh](https://cloud.githubusercontent.com/assets/17275120/13564566/601a8390-e496-11e5-9084-d30749712b58.PNG)

[2016-03-07 13:30] gregpriday opened #48 "Center align menu items"
Seems like since changing the menu to the CSS3 animation version, the alignment of sub menu items is off.

<img width="317" alt="screen shot 2016-03-07 at 3 09 10 pm" src="https://cloud.githubusercontent.com/assets/1126859/13570520/678374bc-e477-11e5-8d19-0ce6f67a117c.png">

There are a few possible solutions for this. Perhaps the easiest would be to handle positioning using Javascript. Ideally, t

[2016-03-07 13:38] gregpriday opened #49 "Fix pricing alignment"
The alignment of pricing on WooCommerce products is slightly off. This should be more vertically centered.

<img width="498" alt="screen shot 2016-03-07 at 3 35 01 pm" src="https://cloud.githubusercontent.com/assets/1126859/13571010/9f6d1862-e47a-11e5-92d3-56882c1d7f12.png">

[2016-03-07 13:43] gregpriday opened #50 "Add cart icon to Add To Cart button"
We should change this to a `button` element so we can have the cart icon in it. This is what the original design PSDs called for.

<img width="367" alt="screen shot 2016-03-07 at 3 41 27 pm" src="https://cloud.githubusercontent.com/assets/1126859/13571081/396f6596-e47b-11e5-9f64-f3fac1ab8c0f.png">

[2016-03-07 17:10] #50 closed

[2016-03-07 17:11] #49 closed

[2016-03-07 18:22] #46 closed

[2016-03-08 08:42] #48 closed

[2016-03-08 09:39] #47 closed

[2016-03-08 09:50] gregpriday opened #56 "Fix mini cart buttons"
It seems like the changes from https://github.com/siteorigin/siteorigin-north/commit/dcb50b2e0a0aa4cdb8cff3c943fa7633d27cb5db also influenced the mini cart buttons. They're both full width now.

<img width="356" alt="screen shot 2016-03-08 at 11 46 57 am" src="https://cloud.githubusercontent.com/assets/1126859/13597884/8e731be8-e523-11e5-9284-768786ecea57.png">

[2016-03-08 09:55] adiraomj commented on #56
Sorry about that. I should have checked it before sending the PR. Sent a fix.

[2016-03-08 09:56] #56 closed

[2016-03-08 11:15] gregpriday opened #58 "Alignment of submit button on WooCommerce product for adding a review"
The submit button should be lower, so its bottom edge lines up with the form fields of the name and email fields.

<img width="681" alt="screen shot 2016-03-08 at 1 14 11 pm" src="https://cloud.githubusercontent.com/assets/1126859/13600179/dcb1479c-e52f-11e5-9abc-64ca55991f37.png">

[2016-03-08 11:16] gregpriday commented on #37
Resolved in https://github.com/siteorigin/siteorigin-north/pull/45

[2016-03-08 11:16] #37 closed

[2016-03-08 19:59] gregpriday opened #60 "Clicks on anchor menu items cause sub-menus to stay open"
On both Chrome and Firefox, when there's a submenu item in the main menu with an anchor link, clicking in it causes the submenu to stay open until the user clicks elsewhere on the screen. The submenu should continue working in the same way after an item is clicked.

<img width="516" alt="screen shot 2016-03-08 at 9 54 30 pm" src="https://cloud.githubusercontent.com/assets/1126859/13614307/870aa010

[2016-03-09 01:00] adiraomj commented on #60
nice catch. Seems like this is a bug in the twentysixteen theme too.

[2016-03-09 06:40] #60 closed

[2016-03-09 07:08] #58 closed

[2016-03-13 06:46] AlexGStapleton opened #63 "Responsive Menu Issue: Unable to scroll down on device"
When a menu has a lot of items you're unable to scroll the menu down on devices. Please see [this video](http://webm.host/8ab3c/vid.webm) for a visual example of this on an actual device.

[2016-03-13 14:50] adiraomj commented on #63
This happens when the sticky menu option has been selected. @gregpriday should we add an option to disable sticky menu for the mobile menu?

[2016-03-14 08:44] AlexGStapleton commented on #63
Oh, whoops. Didn't realise it was a sticky menu option. Preventing the user from having a sticky menu on mobile is avoiding the issue imo. A better fix would be to prevent the mobile menu from being sticky when opened.

[2016-03-16 06:36] adiraomj commented on #63
@gregpriday I have made the mobile menu dropdown scrollable if it extends beyond the viewport in PR #66 . When functional this adds a scrollbar next the menu, which will probably look fine on mobile devices,  but can look ugly on desktop's. Do you think we need to work on it ( maybe style or remove it)?

[2016-03-16 07:17] #63 closed

[2016-03-16 07:18] gregpriday commented on #63
Since the mobile menu is usually going to be displayed on mobile devices, I think having a scrollbar is fine. Don't most mobile browsers hide scrollbars entirely?

[2016-03-16 09:26] adiraomj commented on #63
Ya, thats true.

[2016-03-16 15:17] Misplon opened #67 "Main font color isn't changeable in the Customizer"
Appearance > Customize > Theme Settings > Fonts has a Medium Text Color setting with the default of: #595959. However, this setting doesn't appear to change the main font color in the theme which is set as follows:

[code]

[2016-03-16 16:32] adiraomj commented on #67
There are quite a few additions that have to be made to css generated with the settings. There are also a lot of places where SCSS variables have not been used.

I will go through everything and send a PR tomorrow.

[2016-03-22 06:31] adiraomj opened #69 "WooCommerce product quick view"
I have built a basic quick view modal. here is the [branch](https://github.com/adiraomj/siteorigin-north/tree/quick-view)

@gregpriday what do you think about the approach I have taken. Any changes to make?

To do:

- Styling of the quick view layout.
- Modal incoming and outgoing  animation.
- A simple slider to accommodate all product images. (We could use [flickity](http://flickity.metafizzy.co

[2016-03-22 06:39] adiraomj opened #70 "Main menu overflow"
If the last item of the `primary-menu` has multiple levels or a long link text, the menu tends to extend beyond the viewport. As we are using `visibility: hidden`, this breaks the responsive look of the site on screens smaller than than the `.container` width.

We could use something like `overflow:hidden` to fix this. What do you think?

[2016-03-22 10:14] AlexGStapleton commented on #63
Has this been patched into the live version? A user is still reporting this is still an issue after the most recent update. I'm going to post the link to his site in the Slack channel for reference.

[2016-03-23 18:44] adiraomj opened #71 "WooCommerce wishlist"
For the wishlist we could use an icon ( I'm guessing something like a heart ).

We could also add the same icon before/after the cart icon in the masthead, with similar functionality & design. ( Just an idea :-) )

[2016-03-26 20:30] adiraomj opened #72 "Page Options"
We could add options to hide the masthead and footer widget area. This could give users a blank slate to play around with.

[2016-03-27 13:14] gregpriday commented on #72
Really good idea! We should definitely add this.
On Sat, 26 Mar 2016 at 10:30 PM Adi Rao <notifications@github.com> wrote:

[2016-04-06 14:08] #72 closed

[2016-04-12 12:13] Misplon opened #77 "Add current menu item indication"
Consider adding an indicator or just keep the hover state for the current menu item.

[2016-04-12 12:16] Misplon commented on #77
Perhaps something like:

[code]

[2016-04-12 16:55] adiraomj commented on #77
Do you think we need to add an option in the settings for this feature?

[2016-04-12 16:58] Misplon commented on #77
The settings are quite lightweight at the moment so I'm not sure it would fit in with that approach to have a setting for this. @gregpriday what you reckon?

[2016-04-13 04:54] #38 closed

[2016-04-13 06:18] adiraomj opened #80 "Favicon"
We could add an option for users to upload a favicon.

[2016-04-13 09:57] Misplon commented on #80
Favicon's are now included in the core under the Site Identity section in the Customizer.

[2016-04-15 13:39] Misplon opened #81 "Mobile menu isn't scrollable on desktop"
If the mobile menu is longer than the screen it isn't scrollable. The user define breakpoint means that some users might want to push the mobile menu to desktop resolutions.

[2016-04-15 17:20] adiraomj commented on #81
I think this is the same issue as #63 . It has been addressed with #66. The fix should be available in the next version that @gregpriday rolls out. :-)

[2016-04-15 17:21] adiraomj commented on #80
@Misplon thanks for pointing it out. Had not noticed it earlier. :)

[2016-04-15 17:21] #80 closed

[2016-04-15 18:04] SimoneGoudzwaard commented on #81
The submenu is not scrollable in the **pc-mode**. When having a long list, the sub-menu is cut-off.

[2016-04-16 15:02] Misplon commented on #80
For sure :)

[2016-04-18 14:08] Misplon opened #83 "Mobile menu doesn't close on click/touch."
The mobile menu doesn't close on click or touch. This isn't a problem for multi-page sites but for one page sites with anchor links we ideally need to the mobile menu to close/collapse on click.

[2016-04-18 14:10] Misplon opened #84 "Mobile menu: add Customizer settings to change it's colors."
Consider adding color settings for the mobile menu so that users can customize it. Not exactly sure where these should go. @gregpriday.

[2016-04-18 14:23] Misplon opened #85 "Mobile menu: add a toggle for sub-menu items"
Sub-menu items are displayed in the mobile menu. Let's consider hiding them and adding a down arrow on the far right of the parent menu item. If the down arrow is clicked/tapped, the sub-menu will be exposed and the arrow will change to an up arrow. The same will happen for any nested sub-menu items.

[2016-04-19 10:33] adiraomj commented on #85
This is what we have used for [Unwind's](https://github.com/siteorigin/siteorigin-unwind) mobile dropdown  menu.

I do not think this was envisioned for North's mobile menu. What do you think @gregpriday?

[2016-04-20 09:20] Misplon commented on #85
Sure, I hear you that it wasn't envisaged. The challenge users face with auto displayed drop downs is that if they have a big menu with a lot of sub-menus, their responsive menu will be massive. I think users would benefit by toggled sub-menus in North. I'm sure we can make it fit with the design.

[2016-04-20 09:42] Misplon opened #87 "Use FitVids: Consider expanding Customizer label description"
Consider expanding the label/description for the Use FitVids settings in the North Customizer. Perhaps:

Use FitVids:
Include FitVids.js for fluid width video embeds.

[2016-04-20 11:58] Misplon commented on #85
@adiraomj I had a quick phone meeting with @gregpriday now, he's happy to proceed with this. Let's make say 80% of the parent `ul` item click through to the link and then say 20% of the space on the right dedicated to clicking the arrow to initiate the sub-menu view.

Greg would like us to introduce a setting for this option but make it default ON. Thanks man.

[2016-04-20 12:06] Misplon opened #88 "Add current menu indication for one page sites"
Guys, I haven't seen this done before but do you think we can expand the current menu indication to include one-page sites built with North? We wouldn't have the WP current menu item class to rely on, we'd perhaps need to match up the anchor link in the URL to the link text to see if it matches and then dynamically assign a class if it does. Any ideas?

[2016-04-20 12:09] Misplon opened #89 "Main menu drop-downs don't work for touch users"
If the mobile menu collapse value is low, 480 for example, phone landscape and tablet users will be presented with the main menu. Drop-down menu items aren't accessible because on the first tap, parent menu items are going straight to their link instead of first showing their drop down-menu.

[2016-04-20 13:11] adiraomj commented on #85
Cool. Will get started on this @Misplon 👍

[2016-04-20 13:13] Misplon commented on #85
Awesome! Thanks :)

[2016-04-21 17:20] Misplon commented on #84
@adiraomj I think we should provide three settings, one for the background and one for the color of the text and one for the background color opacity., that would make the responsive menu fully customizable in terms of color. I haven't had a chance to check out our new Customizer settings framework yet. Do we have anything handy in there for opacity? @gregpriday

[2016-04-21 17:23] Misplon commented on #84
Do you guys think it would be most logical for these settings to go in the Responsive section?

[2016-04-22 01:05] adiraomj commented on #84
Yup, adding these to the Responsive section does seem most appropriate.

[2016-04-22 13:04] Misplon commented on #84
Sweet, thanks.

[2016-04-22 16:24] Misplon opened #92 "Meta viewport function: add a check"
Ideally we check if function's exist so that we can easily make use of them in child themes. For example, at the moment in functions.php we have:

[code]

Ideally, we'd check first:

[code]

At the moment, I need to make a change to this function for a user to disable scrolling. Perhaps we could add this check to all relevant functions. Thanks.

[2016-04-25 11:31] adiraomj commented on #84
I am implementing this issue in the [branch](https://github.com/adiraomj/siteorigin-north/tree/mobileMenuColors) and have run into a little problem.

I have used SASS variables to generate the background colors like so: https://github.com/adiraomj/siteorigin-north/blob/mobileMenuColors/sass/navigation/_menus.scss#L327

When I try to generate the settings css using `./create_css.php`, I run into th

[2016-04-25 12:53] SimoneGoudzwaard commented on #89
What is the status on this one?

[2016-04-25 12:55] Misplon commented on #89
Hi Simone
The status is listed in the top left corner, it's currently still open. As soon as it's been attended to this ticket will be updated. This issue does have priority and will be attended to as soon as possible.

[2016-04-25 12:58] SimoneGoudzwaard commented on #89
Thanks for the reply Andrew. Can you give an indication on how much longer it will take? I really need to put my site life and don't want to use the mobile menu on a tablet (a. the scroll isn't stable on a tablet, b. I find the submenu really ugly on a tablet).

[2016-04-25 13:00] Misplon commented on #89
Thanks for your support and understanding. We'll have an update ready for you by the end of the week. It will most likely be sooner but I'd rather not promise that and miss the deadline. As soon as it's ready we'll send you a pre-release version of the theme as we did before.

[2016-04-25 13:03] SimoneGoudzwaard commented on #89
I will not hold you to it. I know how busy you all are, even more busy with me constantly nagging. Be prepared for big hugs and kissed when this is solved. Than you can forward them to Greg. :-)

[2016-04-25 13:03] Misplon commented on #89
I'll have a chance to test a few of the recent commits this afternoon. Once I've run through the list and checked the additions and fixes I'll update you on our thread here: https://siteorigin.com/thread/one-pager-trouble/. Once I've done that I should be able to provide a more accurate time for building a pre-release for you :)

[2016-04-25 13:03] SimoneGoudzwaard commented on #89
Super!!!!!

[2016-04-25 13:04] Misplon commented on #89
No problem at all. Thanks for all of your efforts in improving North, we really appreciate your efforts and detailed feedback.

[2016-04-25 17:20] AlexGStapleton commented on #63
Feedback from user who reported this issue initially to me:

1) After the page load, I click on the menu, the menu appear, then I scroll
with my finger : this is the page behind the menu that scroll at first,
after scrolling for a while (I think this is when I reach the top or the
bottom of the page), the menu start to scroll normally.. and it keep
working (scrolling) if you close/reopen the menu.

[2016-04-25 19:07] #92 closed

[2016-04-25 19:07] #87 closed

[2016-04-25 19:08] #83 closed

[2016-04-25 19:09] Misplon commented on #81
Solved in https://github.com/siteorigin/siteorigin-north/pull/66

[2016-04-25 19:09] #81 closed

[2016-04-25 19:11] gregpriday commented on #84
Yeah, that's a bit of a limitation with that CSS generator script. Colors can't be passed through rgba functions. If you can't get away without this, then I'll try improve the script to handle this. It'll take a little bit of work - but it's probably a worthwhile enhancement.

[2016-04-25 19:13] Misplon commented on #77
@adiraomj Sorry for the late reply on this. Is the current menu color linked to any of the Customizer color settings? I took a quick look around now and it doesn't look like it.

[2016-04-25 19:13] #70 closed

[2016-04-25 19:17] Misplon commented on #23
@adiraomj Could you perhaps explain how to replicate this? I tried creating a Tweets by me widget, I also embedded a Tweet, both seem to be fine.

Thanks :)

[2016-04-25 19:19] #67 closed

[2016-04-26 03:04] adiraomj commented on #77
It is linked to the `Text Dark Color`. I had forgotten to update the settings CSS. Sorry about that. I have sent a PR to sort it out.

[2016-04-26 03:06] adiraomj commented on #84
It will definitely be worth it. I'm sure we will run into this issue in other themes. :)

[2016-04-26 03:46] adiraomj commented on #23
Seems to be working now. I think something must have been off with my local setup.

[2016-04-26 03:46] #23 closed

[2016-04-26 05:47] AlexGStapleton opened #95 "WooCommerce Checkout Responsive Issue"
[Reported in this thread](https://siteorigin.com/thread/north-theme-responsive-problem/)

At certain mobile breakpoints the checkout page looks quite bad. With text overlapping and buttons slightly too short. The padding on inputs should really be adjusted at lower resolutions also.

At 768px:
![](https://i.imgur.com/VNMtwL4.png)
![](https://i.imgur.com/I5Ms8rV.png)

425px:
![](https://i.imgur.com

[2016-04-26 11:15] Misplon commented on #84
@adiraomj Quick update: chatting to @gregpriday about this. We at least need a Hex2RGB function in the settings framework but ideally, something to handle RGBA so we can let users set opacity for certain backgrounds. Hopefully, this is something Greg can release soon. Let's briefly pause this until that functionality is ready. Thanks :)

[2016-04-26 12:32] gregpriday commented on #84
Working on this now.

[2016-04-26 14:31] gregpriday commented on #84
@adiraomj just pushed a couple updates to the Settings framework, so it handles the RGBA function properly now. It might be a bit finicky, but I've tested it with your branch and it's working there.

https://github.com/siteorigin/settings/commit/708c3a2068c4c525b053786024d064f3d32236a7
https://github.com/siteorigin/settings/commit/ef52b64d7b943efc54ae91161951e071c48de1c7

[2016-04-26 14:35] Misplon commented on #63
Thanks @AlexGStapleton. Testing with the latest version we seem to have resolved these issues. If they come up again we can relook at them. In a quick test I did now, the two issues raised don't seem to be occurring.

[2016-04-26 14:36] Misplon commented on #84
👍

[2016-04-26 14:50] Misplon commented on #77
Super, thanks for sorting that out.

[2016-04-26 14:50] #77 closed

[2016-04-26 14:54] gregpriday commented on #84
I also added support for the core WordPress range customizer field in https://github.com/siteorigin/settings/commit/8ff67c16e1497986b044a456355d956cda1bde0c and https://github.com/siteorigin/settings/commit/52d39481553b2e2ad26adabc3a701732b2a71302

It's fairly easy to support:

[code]

Although the description isn't as important with a range. Most users will be able to figure that out.

[2016-04-26 16:33] adiraomj commented on #84
Nice stuff 👍   I'll check them out now..

[2016-04-28 18:43] #89 closed

[2016-04-28 18:44] #85 closed

[2016-04-28 18:44] Misplon commented on #71
This will now be shifted over to a SiteOrigin developed option. @gregpriday can you advise further on how you want this logged and assigned. Thanks.

[2016-04-28 18:45] Misplon commented on #2
@adiraomj Any news on this one? Have we completed this task? Thanks :)

[2016-04-29 16:54] #95 closed

[2016-04-29 16:55] #84 closed

[2016-04-29 17:10] Misplon opened #99 "jQuery Smooth Scroll flashes before scrolling"
When clicking an anchor link there is a brief flash as the link is clicked. Can we look at stopping this happening?

http://stackoverflow.com/questions/12975577/why-does-smooth-scroll-flash-before-scrolling

[2016-04-29 18:56] Misplon opened #100 "Mobile menu color settings applied to menu toggle"
@adiraomj, please, can you check that the mobile menu text color is being applied to the sub-menu toggle arrow: `#mobile-navigation ul li .dropdown-toggle`. Thanks :)

[2016-04-30 04:23] adiraomj commented on #99
@Misplon `e. preventDefault ();` is being used in our code.

@gregpriday is this [line of code](https://github.com/siteorigin/siteorigin-north/blob/develop/js/north.js#L371) necessary?  Seems to be causing the problem.

[2016-04-30 04:29] adiraomj commented on #2
@misplon I have added support for the [SVG Support](https://wordpress.org/support/plugin/svg-support) plugin. Please have a look at this [PR](https://github.com/siteorigin/siteorigin-north/pull/14). Let me know if you want to merge it, I will fix all merge conflicts. :)

[2016-04-30 11:48] adiraomj opened #102 "Remove resize_logo setting"
We have the [resize_logo](https://github.com/siteorigin/siteorigin-north/blob/develop/inc/settings.php#L198) setting which is the same as the [sticky_scale](https://github.com/siteorigin/siteorigin-north/blob/develop/inc/settings.php#L193) setting above it.

Moreover `resize_logo` is not used anywhere in our code.

[2016-04-30 13:36] gregpriday commented on #102
Nicely spotted. Nothing wrong with removing it then.
On Sat, 30 Apr 2016 at 1:48 PM Adi Rao <notifications@github.com> wrote:

[2016-04-30 13:46] gregpriday commented on #2
I'll chat to Andrew about the best way for us to implement this. We just
need to make some changes to make it a little more user friendly.
On Sat, 30 Apr 2016 at 6:29 AM Adi Rao <notifications@github.com> wrote:

[2016-04-30 13:50] gregpriday commented on #99
It might not be necessary if we also remove that preventDefault call. If
you remove those lines and it still works, then all good. There shouldn't
be any knock on effects.
On Sat, 30 Apr 2016 at 6:23 AM Adi Rao <notifications@github.com> wrote:

[2016-05-01 13:52] Misplon opened #105 "Mobile menu button issue on Kindle"
A user has reported a problem with opening the mobile menu using Kindle's Silk browser.

**Bug report thread:**
https://siteorigin.com/thread/3-line-menu-icon-does-not-work-in-kindles-silk-browser/#comment-94285

**Possible method for testing the problem:**
http://stackoverflow.com/questions/7703055/emulator-for-amazon-kindle

Hopefully, we can recreate the problem. Thanks @adiraomj.

[2016-05-01 22:54] gregpriday commented on #105
The thread isn't entirely clear on what's not working? Does the entire menu not display? Does the animation just not work? We wouldn't really bother checking and fixing the animation. This might just mean that Silk doesn't support SVG animations. If the entire menu isn't displaying then we'd want to check this, but with a reasonably low priority.

[2016-05-01 23:01] #102 closed

[2016-05-01 23:01] #99 closed

[2016-05-03 17:39] Misplon opened #106 "Update WooCommerce templates"
WooCommerce is throwing a warning about out of date template files.

_Your theme (SiteOrigin North) contains outdated copies of some WooCommerce template files. These files may need updating to ensure they are compatible with the current version of WooCommerce. You can see which files are affected from the system status page. If in doubt, check with the author of the theme._

The highlighted templ

[2016-05-03 17:47] Misplon commented on #105
@gregpriday and I briefly discussed this offline. @adiraomj are you able to test on Android? If so, could you please, test the North mobile browser and see if there are issues? Thanks.

[2016-05-03 17:47] #100 closed

[2016-05-03 18:20] adiraomj commented on #105
@Misplon I will check it on Android and let you know..

[2016-05-03 18:23] Misplon commented on #106
@adiraomj @gregpriday Once this is resolved, I'm keen to push an update to .org. Ideally, before the end of the week. Although we have a pre-release on the forum there are a few users waiting for various fixes. I've softly committed us to a release on .org this week.

[2016-05-03 18:24] #106 closed

[2016-05-04 04:37] adiraomj commented on #105
@Misplon I tested the theme on android using chrome. The mobile menu works as expected. I also checked out the website mentioned by the user(www.stanges.biz).

This could be kindle specific issue. After reading the support thread it does seem to be a svg animation issue, as @gregpriday has mentioned above.

It could be helpful to know if it's the svg animation or mobile menu that's causing the pro

[2016-05-04 09:53] Misplon commented on #105
@adiraomj Thanks for the update. I'll check with the user.

[2016-05-04 17:02] #2 closed

[2016-05-04 17:03] Misplon opened #107 "Change search icon to SVG and add as setting in Customizer"
Change the search icon from web font to SVG. Add a new setting in the Icons section of the Customizer to allow a user uploaded icon.

[2016-05-04 18:18] Misplon opened #108 "Up arrow no longer white by default"
Up arrow is now black instead of the default white in branch: develop. Thanks :)

[2016-05-04 18:18] Misplon opened #109 "Search icon animation is missing"
We've lost the search icon animation in branch: develop. Can we get that back? Thanks :)

[2016-05-05 06:38] adiraomj commented on #109
@Misplon @gregpriday should we apply the animation to the [close search link](https://github.com/siteorigin/siteorigin-north/blob/develop/header.php#L93) or to our [svg icon](https://github.com/siteorigin/siteorigin-north/blob/develop/header.php#L95). Both will affect the user uploaded icons in different ways. What do you think?

[2016-05-05 10:04] #109 closed

[2016-05-05 10:05] #108 closed

[2016-05-05 10:05] #107 closed

[2016-05-05 10:29] Misplon opened #111 "Comment out SO Premium attribution setting in Customizer"
Comment out the attribution setting in the Customizer until SO Premium is ready.

@gregpriday to attend as he's keen to add additional page settings functionality to tie into your new CPT builder plugin.

[2016-05-05 10:41] Misplon opened #112 "Consider making the sidebar width a measurement setting"
The sidebar width setting could be tightened up a bit. Right now if a user doesn't insert the percentage symbol the setting doesn't work. The user can also add a minus sign and break the layout, `-10%` for example. My idea would be to change the setting label to the following:

**Sidebar Width (%)**

And then change the field to a measurement field, ideally with a min and max. We could also use a

[2016-05-05 10:43] Misplon opened #113 "Header padding setting isn't live loading"
The Header > Padding setting doesn't appear to be live loading. The bottom margin setting below it does though.

[2016-05-05 10:48] Misplon commented on #111
Expand this issue to all other premium links in the Customizer like AJAX Comments.

[2016-05-05 10:54] Misplon commented on #113
Same challenge for Footer > Top Padding.

[2016-05-05 10:56] Misplon commented on #112
The same question/improvement also needs to be applied to the following settings:

**Header:**
Border Width
Padding
Bottom Margin

**Footer:**
Border Width
Top Padding
Side Padding
Top Margin

The way we're handling Responsive > Menu Breakpoint is cool, no unit indication is required in the field.

[2016-05-05 12:04] adiraomj commented on #112
For the sidebar width a user can also choose to input a width using px or em (for example: 400px). It will work especially well when the user has the responsive layout disabled.

[2016-05-05 12:10] Misplon commented on #112
@adiraomj Definitely, I can see that use case. I'm not sure how common it will be though. My thought with this enhancement is to make this and similar settings quite bulletproof. For a fixed width sidebar we could either help a user out with a Custom CSS snippet OR we could have one field for the value and another for the unit, with a drop-down menu with the available units.

[2016-05-05 12:36] Misplon commented on #105
@adiraomj Thanks for checking this. It turns out this was the menu not opening if you set the collapse above 600px. We've resolved this issue and it will be included in the next update.

[2016-05-05 12:36] #105 closed

[2016-05-05 14:20] gregpriday commented on #111
Resolved in https://github.com/siteorigin/siteorigin-north/commit/a30e6bc39cee246c525b3a761c59156acde790ac

[2016-05-05 14:20] #111 closed

[2016-05-05 14:38] gregpriday commented on #113
The masthead has to do with how we're handling masthead scaling on scroll. Footer padding settings are working for me though. Can you double check that?

[2016-05-05 14:39] gregpriday commented on #113
The solution for masthead is to just remove real-time updating from that setting.

[2016-05-05 14:46] Misplon commented on #113
Awesome, thanks for explaining.

[2016-05-05 14:46] #113 closed

[2016-05-05 14:50] Misplon commented on #112
@adiraomj Greg's idea is to make the measurement fields the same as they are in Page Builder with a value field and a unit drop-down menu. This should add the flexibility you're after and the robustness I'm keen for. Next update though.

[2016-05-06 03:41] gregpriday opened #114 "Remove masthead and footer HTML when hidden"
[This commit](https://github.com/siteorigin/siteorigin-north/commit/3ce229c156f791e47da5ee07271b70b19f4c6a83) added page settings to remove the masthead and footer widgets. Ideally, this should also be stripping out the HTML.

Something to keep in mind too, we're making the Page Settings library more generic. In the latest update it also works for posts and custom post types. In future updates I'd

[2016-05-07 08:49] gregpriday opened #118 "Masthead scaling issue with text site title"
With a specific configuration the masthead scaling isn't working as expected.

* No logo (so plain text site title displayed).
* **Header Layout** set to Centered.
* **Sticky menu scales logo** setting enabled

The site title scales off to the left. It doesn't stay centered as expected.

Initial:
![2016-05-07_10-48-10](https://cloud.githubusercontent.com/assets/1126859/15091203/4a971ae4-1441-11e6-

[2016-05-07 11:43] #114 closed

[2016-05-07 14:49] #118 closed

[2016-05-09 17:32] Misplon opened #120 "Change the jQuery Transit handle to a standardised one"
Standard Handles offers us a neat list of standard handles we can use in plugins and themes to prevent duplication with other plugins:

https://github.com/grappler/wp-standard-handles

We could change the handle for Transit from the below:
https://github.com/siteorigin/siteorigin-north/blob/develop/functions.php#L188

to: `jquery-transit`

[2016-05-10 18:16] #120 closed

[2016-05-12 19:50] AlexGStapleton opened #122 "Add ability to set color / background for the current page item in the navigation"
There should be a way to set the color or background, for the current page in the navigation. It seems odd not to be able to set this.

[2016-05-17 16:45] Misplon commented on #122
We considered this when adding the current menu item styling recently. We're trying to keep the settings a minimal as possible. The current menu indication is currently set to the Dark Text Color. How many users have asked to change this particular color?

[2016-05-17 16:46] Misplon commented on #112
@gregpriday Is the settings framework ready for this yet? If so I'll assign to Adi.

[2016-05-17 16:50] Misplon commented on #88
I've recently dived a little deeper into this. We also need the current menu indication to change as the user scrolls the page and goes past the different sections. We can see an example implementation of this here: http://themeisle.com/demo/?theme=Zerif%20Lite (https://github.com/Codeinwp/zerif-lite/blob/production/js/zerif.js#L152-L187). @adiraomj you keen to take this on? We could make all our

[2016-05-17 16:52] Misplon commented on #69
@adiraomj Have we made any progress on deciding the scope of this enhancement? Thanks :)

[2016-05-17 16:53] Misplon commented on #6
@adiraomj @gregpriday You guys ready to send this off for the accessibility review? It's a separate review process that we need to enlist the theme in.

[2016-05-17 16:58] AlexGStapleton commented on #122
Half a dozen at the most. Might not be worth it in hindsight.

[2016-05-17 17:00] Misplon commented on #122
@gregpriday You keen to add a current menu item color and hover setting for North?

[2016-05-17 17:09] gregpriday commented on #112
Not yet, will take a quick look now to see if it's easy enough, else this can wait until after SiteOrigin Premium launch.

[2016-05-17 18:14] #112 closed

[2016-05-17 18:15] gregpriday commented on #112
@Misplon - got this working. Can you double check it?

[2016-05-17 18:18] gregpriday commented on #6
Might be worth it to get that tag. We should probably do our own internal review first though.

[2016-05-17 18:32] Misplon commented on #6
Cool, I'll try get that done this week.

[2016-05-17 18:35] #71 closed

[2016-05-17 18:43] Misplon commented on #112
@gregpriday Fantastic, thanks, it's working nicely and everything looks much cleaner like this.

Does the setting have the ability to set one unit of measurement? Would it be neater if we changed the Menu Breakpoint setting to a measurement but only offered up px in the unit drop-down menu?

[2016-05-17 18:44] #122 closed

[2016-05-17 18:44] adiraomj commented on #6
There have been a lot of changes to the theme since this PR. I'll have a look at everything again tomorrow.

[2016-05-17 18:46] Misplon commented on #6
Thanks dude, appreciate it.

[2016-05-17 18:46] gregpriday commented on #112
That isn't currently an option, but for that particular case, we'd just stick to a text field. For consistency though, it would be a good idea that sort of functionality to the measurement field.

[2016-05-17 18:47] Misplon commented on #112
Thanks for the feedback. I'll log the request, you can tackle when all the prio 1 and 2 tasks are complete, if you keen.

[2016-05-18 18:45] Misplon commented on #88
Plan to move to SO Premium as a theme independent option.

https://github.com/siteorigin/siteorigin-premium/issues/9

[2016-05-18 18:45] #88 closed

[2016-05-19 04:26] adiraomj commented on #69
@Misplon in the customizer under `WooCommerce` there is an option to activate Quickview. This adds a button to the product archives. Please do check out it's functionality and design. If need be, we can make enhancements/chenges. Let me know. :)

[2016-05-20 17:11] gregpriday opened #124 "Continue shopping returns to same page"
When viewing the cart, clicking on the "Continue Shopping" button just takes you back to the same page. This could probably be fixed by making the button an `a` tag, instead of a `button`.

[2016-05-20 17:30] gregpriday opened #125 "Improve mobile version of the shopping cart."
There are a few things we could do to improve the mobile version of the cart. The first would be showing a smaller thumbnail image. The current one takes up too much space and can cause some text wrapping with longer titles.

The second issue is the delete button. At the moment, this starts overlapping the cart totals area.

<img width="344" alt="screen shot 2016-05-20 at 7 28 09 pm" src="https://

[2016-05-20 17:44] gregpriday opened #126 "Scrolling issue on iOS"
When scrolling on an iPhone, the menu disappears when scrolling. This can be seen on the North Demo.

http://demo.siteorigin.com/north/

Here is a video of the issue in action:

[scrolling-issue.mp4.zip](https://github.com/siteorigin/siteorigin-north/files/275157/scrolling-issue.mp4.zip)

[2016-05-20 17:48] gregpriday opened #127 "Odd formatting of menu search on iOS"
This is most likely due to the default styling that iOS applies to search input elements. This can probably be overcome with some extra CSS. Ideally we want the search on iOS to look the same as it does on desktop.

Here's how it looks on iOS:

<img width="378" alt="screen shot 2016-05-20 at 7 46 26 pm" src="https://cloud.githubusercontent.com/assets/1126859/15436732/afe664ae-1ec3-11e6-9fd0-c6d3ad

[2016-05-21 06:21] #124 closed

[2016-05-23 15:40] Misplon commented on #69
@adiraomj Looks great. Do you think we should add a close icon for the modal? I know it closes when clicking outside of it, just wondering if we should also add a close icon for usability.

[2016-05-23 16:43] Misplon opened #131 "Cart page: when the sidebar is present the Update Cart button needs bottom spacing"
Let's take a look at the button alignment when the default page layout (sidebar) is used on the cart page.

![cart_ _siteorigin](https://cloud.githubusercontent.com/assets/789159/15477668/2b43e064-2116-11e6-9b09-37805a598648.png)

[2016-05-23 16:49] Misplon commented on #125
@adiraomj Looks like we might have some button spacing challenges on mobile. The below is emulated for the iPhone 5. Can you suggest a better layout here?

![cart_ _siteorigin_css](https://cloud.githubusercontent.com/assets/789159/15477817/1d828178-2117-11e6-979f-bd82ff7748f5.png)

[2016-05-23 16:53] Misplon commented on #127
@adiraomj did #130 resolve the problem during testing? The issue remains for me when testing locally on iOS Chrome.

[2016-05-23 17:52] adiraomj commented on #125
What we could do is make the coupon code field and all the following buttons full width for small screens. Sound good?

[2016-05-23 18:05] adiraomj commented on #127
I tested it with Xcode's iPhone simulator. The issue seemed to be solved there. I'll have another look.

[2016-05-23 18:07] Misplon commented on #125
Sounds good :)

[2016-05-23 18:09] Misplon commented on #127
Thanks @adiraomj can you check develop branch in Xcode, I'm looking now and the problem seems to persist.

[2016-05-23 18:14] adiraomj commented on #69
Sure thing. I'll send a PR tomorrow. :)

[2016-05-24 04:26] adiraomj commented on #69
Where do you think we should place the close icon? Top right of the modal or top right of the window?

[2016-05-24 05:56] gregpriday commented on #127
I'll look into this now.

[2016-05-24 06:19] gregpriday commented on #127
It's working for me now. Just needed to hard refresh Simulator.

[2016-05-24 06:19] #127 closed

[2016-05-24 08:05] gregpriday commented on #126
Taking a look at this.

[2016-05-24 08:23] AlexGStapleton opened #134 "Duplicate menu"
[Reported here](https://siteorigin.com/thread/siteorigin-north-theme-menu-does-not-close-windows10-chrome/)

Have two sub-menus in the main nav. Click one of the links to get focus but ensure it doesn't navigate. Then hover over another sub menu. It should show two menus.

This can be replicated in the [demo](https://demo.siteorigin.com/north/).

Reference image:
![](https://i.imgur.com/GSS8TVO.pn

[2016-05-24 09:36] #125 closed

[2016-05-24 09:50] gregpriday commented on #126
For now, we're going to solve this by disabling the sticky menu on mobile. If I look at the code, this was actually the original intention. There are a few other issues that we'd need to solve before having a proper mobile sticky menu.

[2016-05-24 10:15] Misplon commented on #69
@adiraomj I was thinking top right of the modal.

[2016-05-24 10:43] gregpriday commented on #131
@Misplon - I think I fixed this with this commit - https://github.com/siteorigin/siteorigin-north/commit/024e22901cbbe2d2e2b0b2a61e86c83b55f8ea16

Can you double check if it's all working well for you?

[2016-05-24 11:21] Misplon commented on #131
@gregpriday Perfect

[2016-05-24 11:21] #131 closed

[2016-05-24 18:28] AlexGStapleton opened #137 "Apply Coupon doesn't work on Cart Page"
[Issue reported here](https://siteorigin.com/thread/north-theme-apply-coupon-in-cart-does-not-work/l)

Apply coupon to cart doesn't work on the cart page. I was able to replicate the issue referenced in the thread and was also able to resolve it with the mentioned fix. Basically, [change that to an input](https://github.com/siteorigin/siteorigin-north/blame/develop/woocommerce/cart/cart.php#L137)

[2016-05-24 20:06] #137 closed

[2016-05-25 18:32] AlexGStapleton commented on #134
I've done some more testing and this can apparently happen in any browser. Including, apparently without effort, on iPad when the mobile menu isn't visible. This might be a p1.

[2016-05-29 17:22] Misplon commented on #134
@adiraomj Hopefully, I'm not experiencing a caching issue. I can still recreate this problem from the develop branch.

![img_1420](https://cloud.githubusercontent.com/assets/789159/15634987/9fd3bed4-25d2-11e6-977f-0ff73bc02581.PNG)

Are you able to recreate this issue?

[2016-05-29 17:24] Misplon commented on #126
@gregpriday There is quite a lot of support to get the sticky header back onto mobile. Thanks man.

[2016-05-29 17:25] Misplon commented on #69
@adiraomj Let me know once you've had a chance to take a look at this final addition. Thanks dude :)

[2016-05-29 17:26] Misplon commented on #6
@adiraomj Apologies for the delay. Will review this week.

[2016-05-29 18:47] adiraomj commented on #69
@Misplon I have added a close icon. Please have a look at it. Let me know if I should make any css changes.

[2016-05-30 14:11] #69 closed

[2016-05-30 20:30] AlexGStapleton opened #141 "Text Above: Allows HTML in customizer initally but strips it on save"
I suspect this is more of an oversight rather than intentionally done. The text above setting allows for HTML when initially set via the customizer but strips it on save. There's little reason not to allow for basic HTML (a, strong, etc) so I think the best solution for this would be to allow for basic HTML.

[2016-05-31 11:20] adiraomj commented on #134
This issue is happening because we show a dropdown when a link is in focus (needed for [full-accessibility](https://make.wordpress.org/themes/handbook/review/accessibility/required/#keyboard-navigation)). I'll see if we can limit this interaction to keyboard input only.

[2016-05-31 11:44] adiraomj commented on #134
@Misplon @gregpriday do you think tampering with this will affect full accessibility?

From what I understand, the link has `:focus` state. And this is what is supposed to happen for full-accessibility.

[2016-05-31 13:16] Misplon commented on #134
@adiraomj Thanks for raising this challenge.

Do you know why this behaviour doesn't happen on first touch? It seems to me that it only happens on second touch.

We might need another issue report but I've also noticed that on first load, the sub-menu background doesn't cover the link. When I refresh the page, the issue resolves. Are you able to replicate this?

To see both questions I'm raising,

[2016-05-31 13:26] adiraomj commented on #134
@Misplon I will test out the main menu thoroughly tonight and try to fix most issues. :)

[2016-05-31 15:49] Misplon opened #142 "Header flickers on scroll in Safari"
The header flickers on scroll in Safari, both mouse wheel and track padding scrolling cause this (sometimes there is a difference). For a video, see:

https://dl.dropboxusercontent.com/u/3072682/north-header-flicker-issues.mp4

Thread reporting the issue is here:https://siteorigin.com/thread/north-theme-banner-flickers-when-scrolling-updown/#comment-96214. Further details can be found in the threa

[2016-05-31 16:59] Misplon commented on #134
Awesome :)

[2016-06-01 16:29] Misplon commented on #142
@adiraomj Not sure if Greg mentioned to you but the plan is to only assign an issue once someone is working on it. When you have a moment, could you perhaps take this one on. Let me know if I can help with anything.

[2016-06-02 05:32] adiraomj commented on #142
@Misplon thanks for the update. :) I will assign myself when I start working on this.

[2016-06-02 15:19] Misplon opened #143 "Add breadcrumb without page title"
Consider allowing the breadcrumb to display even if the page title has been disabled.

[2016-06-11 16:42] Misplon opened #145 "Enhance FitVids setup"
Enhance FitVids setup inline with our [Vantage changes](https://github.com/siteorigin/vantage/commit/00414a9a105b6ddeef3d71c4b3172c32571b2174).

[2016-06-14 15:41] AlexGStapleton opened #146 "Add the ability to enable sticky menu and scroll to top for mobile devices"
For whatever reason, these two settings are disabled on mobile devices. It makes very little sense not to give the user the option of at least enabling them.

[2016-06-14 15:55] Misplon commented on #146
@AlexGStapleton We're currently working through some decent size challenges with sticky on mobile: https://github.com/siteorigin/siteorigin-north/issues/126. We'll get it back into the theme as soon as @gregpriday is able to work on the issue again. The issues were bad so we disabled it for now. Let's rather work the issue from the existing #126.

[2016-06-14 15:55] #146 closed

[2016-06-14 23:49] AlexGStapleton opened #147 "Checkout button on cart page doesn't seem to work anymore"
I'm not sure if this is related to the new WooCommerce update or not but for whatever reason the checkout button on the cart page doesn't do anything when clicked. :(

![](https://i.imgur.com/9wGrpU5.png)

[2016-06-15 00:25] Julianneaguilar commented on #147
i am having the same problem

[2016-06-15 05:22] gregpriday commented on #147
@adiraomj - can you take a look at this?

[2016-06-15 06:40] adiraomj commented on #147
Sure

[2016-06-15 07:55] AlexGStapleton commented on #147
[Couple more people have reported this issue](https://siteorigin.com/thread/north-theme-checkout-button-in-cart-does-not-work/).

Not sure what caused this but a fix for this needs to be released asap.

[2016-06-15 07:57] Misplon commented on #147
I'm sure @adiraomj will have further info. for us when he's back online.

[2016-06-15 08:08] Misplon commented on #145
https://github.com/siteorigin/siteorigin-north/commit/91ba6a310da5f5ef411d8bf5b4215fc53e1c8b4a

[2016-06-15 08:08] #145 closed

[2016-06-15 10:16] adiraomj commented on #143
@gregpriday go ahead with this?

[2016-06-15 10:24] #147 closed

[2016-06-15 12:28] #141 closed

[2016-06-15 14:13] gregpriday commented on #147
I'll push an update for this tonight.
On Wed, 15 Jun 2016 at 12:24 PM Andrew Misplon <notifications@github.com>
wrote:

[2016-06-18 06:03] AlexGStapleton opened #150 "One page smooth scroll functionality doesn't work on mobile"
The one-page smooth scroll effect doesn't work on mobile devices.

[2016-06-22 05:03] Misplon commented on #143
@gregpriday Quick bump. Thanks.

[2016-06-28 07:48] #150 closed

[2016-06-28 07:49] Misplon commented on #143
@gregpriday Keen to proceed with this user request?

[2016-06-28 13:10] adiraomj commented on #142
@Misplon I think #144 solves this problem. Can you confirm? Thanks.

[2016-06-28 17:53] #142 closed

[2016-06-29 08:48] #126 closed

[2016-06-29 08:54] gregpriday commented on #143
Sorry for missing this guys. Yeah, +1 from my side.

[2016-06-29 13:25] #143 closed

[2016-06-29 15:01] Misplon opened #153 "Page Setting: Overlaps content when used with top bar spacing problem"
<img width="1145" alt="overlap" src="https://cloud.githubusercontent.com/assets/789159/16457251/0f0ef4de-3e1b-11e6-8bb9-7dfc3d569774.png">

When Overlaps Content is used with the Top Bar Text the header loses it's top padding.

[2016-06-29 15:08] Misplon opened #154 "Page Settings: Add Featured Image page setting"
Add a Featured Image page setting as we have in Vantage.

[2016-06-29 15:55] #153 closed

[2016-06-29 16:02] #154 closed

[2016-06-29 16:05] Misplon commented on #134
This now looks to be resolved. Nicely done.

[2016-06-29 16:06] #134 closed

[2016-06-30 08:26] Misplon opened #157 "Change site title to p tag on pages not home"
Change site title to `p` on all pages besides home for better SEO.

Ref: https://github.com/Automattic/_s/blob/master/header.php#L30-L34

[2016-06-30 09:52] gregpriday commented on #157
North is still new enough that we could add something like this. So +1

[2016-06-30 15:17] #157 closed

[2016-06-30 19:16] #6 closed

[2016-06-30 19:45] Misplon opened #159 "Theme Settings: Header: Background Top Color Default"
Theme Settings: Header: Background Top Color Default is showing `false`.

[2016-06-30 19:46] Misplon commented on #159
<img width="787" alt="false" src="https://cloud.githubusercontent.com/assets/789159/16501878/ffc4cc3c-3f0b-11e6-9cf2-d220de4d03d2.png">

[2016-06-30 20:08] Misplon opened #160 "Theme Settings: Responsive: Responsive Menu Text"
@adiraomj Let's align the mobile menu terms as we did in Vantage. Changing Responsive Menu Text to Mobile Menu Text should be all that's needed.

[2016-07-01 03:23] AlexGStapleton opened #161 "Logo can be cut off on mobile devices"
As there is no max-width set on the logo and the logo has its image dimensions applied set via HTML there can be a cut off when the user is viewing the website on a mobile device that has a resolution smaller than the logo.

References:
Here's my amazing Logo (485x66):
![](https://i.imgur.com/MEltlHO.png)

Here's my logo on a device with a resolution smaller than the width of my logo.
![](https://

[2016-07-02 14:07] Misplon opened #162 "Page Template Setting: Featured Image Sizes"
@adiraomj, is there any way we can make the featured images more dynamic? If you change from sidebar to no sidebar on the blog page for example, the featured image is no longer container full-width. Any ideas?

[2016-07-02 14:11] Misplon commented on #162
Before we had Page Template Settings it was easier. The method we used in Vantage was [as follows](https://github.com/siteorigin/vantage/blob/develop/functions.php#L77). Perhaps we can do that for Page Template Settings. Not for full screen width but just for regular container width, sidebar and no-sidebar.

[2016-07-02 14:19] Misplon opened #163 "Blog page title needs styling"
If the blog page title is enabled, it isn't styled correctly.

<img width="1415" alt="blog" src="https://cloud.githubusercontent.com/assets/789159/16540778/4c6afc40-4070-11e6-9615-350c33107bee.png">

[2016-07-03 13:56] adiraomj commented on #162
@Misplon what dimensions do we use? the post thumbnail has been set to [650x650](https://github.com/siteorigin/siteorigin-north/blob/develop/functions.php#L43).

How about 1040x650 for the no-sidebar layout?

[2016-07-04 08:10] Misplon commented on #162
Sounds good.

[2016-07-09 00:56] AlexGStapleton opened #166 "Mini Cart: Add ability to remove items / adjust quantity"
I know the theme is minimal by design but without the ability to remove items and adjust the quantity of items, the mini cart (not too sure on what its called) feels limited. It might be a good idea to put these behind settings as the remove items button might not be desirable for certain people.

Regarding the icons.  An X, plus and minus should fit more in line with the themes minimal design rat

[2016-07-11 04:34] adiraomj commented on #166
We could consider adding a remove button next to items. The quantity buttons may make the widget seem too cramped. What do you think @Misplon @gregpriday?

[2016-07-11 04:36] #163 closed

[2016-07-11 04:48] AlexGStapleton commented on #166
I think something as simple as this would be fine:
![](https://i.imgur.com/Hr4YMYb.png)

Excuse the poor example but I wanted to quickly throw something together. The X would be the same color as the remove button on the checkout - meaning very faint. It could also be a good add a hover for the plus or minus so that they're faint also until you hover on the item.

[2016-07-11 04:57] adiraomj commented on #166
@AlexGStapleton neat minimal approach.

[2016-07-11 04:58] #160 closed

[2016-07-11 04:58] #159 closed

[2016-07-11 06:26] Misplon commented on #166
Thanks Alex. @adiraomj looks great, let's implement.

[2016-07-11 06:54] Misplon opened #168 "Add post format styling"
Add post format styling. Ideally, we shouldn't have post formats added if we haven't added a matching style. _s have removed post formats from functions recently.

Let's plan out what we can do for each of the formats currently enabled.

**Video:** https://github.com/siteorigin/influence/blob/develop/content-video.php

**Gallery:** Replace Featured Image with gallery just as we did with the video

[2016-07-11 06:54] Misplon commented on #168
We can leverage these styles for all themes.

[2016-07-12 22:52] AlexGStapleton opened #169 "Allow for Smooth Scroll to be sitewide"
I've had a number of confused people ask me recently why the smooth scroll only works for menu links and not links elsewhere. Obviously, this is due to the setting being a navigation setting. I however don't think it should be this way and that it should instead be a global setting. This way users who have internal links elsewhere on the page act in a consistent method.

[2016-07-13 17:07] AlexGStapleton opened #170 "Accessibility: Unable to open search bar without using mouse"
This is a major issue for those physically unable to use a mouse.

[2016-07-13 17:40] gregpriday commented on #170
Not sure how we'd go about this, but this is a great usability enhancement.

[2016-07-14 03:17] adiraomj commented on #170
@AlexGStapleton we will try to address this issue in #123

[2016-07-14 03:18] #162 closed

[2016-07-14 06:33] Misplon commented on #169
Since we have this as a Customizer setting it makes sense to expand the scope to be global.

[2016-07-14 16:36] AlexGStapleton opened #172 "Sidebar Width (setting): When set to 0% the sidebar will extend greatly"
I know the title is horrible but this is a weird issue. A user has reported (and I've managed to replicate it) that when you set the sidebar width setting to 0 it'll extend the sidebar dramatically and cause a lot of white space if you have a number of widgets in your main sidebar widget area.

Here's a reference gif:
![](https://i.imgur.com/DFPbmc9.gif)

It's not the best example but it should di

[2016-07-18 09:08] gregpriday opened #174 "Don't use select styles on admin bar"
A very minor change. As a general practice, we shouldn't have any styling that influences the admin bar. Selecting text in the admin bar gives it the theme's background color.

![screen shot 2016-07-18 at 11 06 16 am](https://cloud.githubusercontent.com/assets/1126859/16910231/d28ad3f4-4cd7-11e6-9a88-fdc560c0d3b0.png)

We need some CSS that removes this.

[2016-07-18 09:16] gregpriday commented on #174
A little note - this is only on the frontend. Not in the backend.

[2016-07-19 19:58] Misplon opened #175 "Apply details font to post meta"
@adiraomj What do you think about applying the Details font to post meta? I was working on documentation now and given the description for that setting my first thought is that it would apply to post meta.

[2016-07-20 17:06] AlexGStapleton opened #176 "Theme Setting: Add the ability to use excerpts"
it's impossible to use excerpts in North. This shouldn't be the case and we should add a theme setting in the blog settings group that will allow the user to decide between full or excerpts. As per Andrews recommendation, Archive Post Content would be a good label for this field.

It would also be a good idea add a setting that will allow the user to display (or not) the continue reading button if

[2016-07-20 17:12] Misplon commented on #176
If we want to provide full functionality here, I suggest the following:

**Label:** Archive Post Content:
**Description:** Choose how to display your post content on blog and archive pages. Select Full Post Content if using the "more" quicktag.
**Options:**
Full Post Content
Post Excerpt

**Label:** Read More Text
**Description:** The button text displayed when posts are split using the "more" qui

[2016-07-20 17:16] AlexGStapleton commented on #176
@Misplon Based on the  [you mentioned](https://siteorigin.slack.com/archives/support/p1469034224000022), I don't think a dedicated field would be worth wild.

Huge fan of the Post excerpt length suggestion though.

[2016-07-20 17:18] Misplon commented on #176
Quite right.

I know from Vantage requests that we have been asked several times for the ability to add a Continue reading button with excerpts. That's added with a function so there wouldn't be any way for someone to change that string if they were using the excerpt setting. It might also be handy to be able to set the default for this string.

[2016-07-20 17:22] Misplon commented on #176
Or we could leave the Continue reading text setting out and ask to use Loco Translate if it's requested.

[2016-07-21 05:13] adiraomj commented on #175
@Misplon sounds good. I'll get on that.

[2016-07-22 03:37] #169 closed

[2016-07-22 10:29] #175 closed

[2016-07-25 14:39] Misplon opened #179 "Add button styling to pagination"
Our pagination doesn't look styled at the moment. Let's put something together.

![north-pagination](https://cloud.githubusercontent.com/assets/789159/17105163/5f5bb57e-5286-11e6-991a-e8daa189e229.png)

[2016-07-26 05:37] adiraomj commented on #179
@Misplon for some reason, the styling that we are using does not seem to applied in the screenshot you added. This is what I am seeing.

![pagination](https://cloud.githubusercontent.com/assets/3372029/17127053/3dfd0a50-5320-11e6-9dd7-c22b7697800a.png)

They seem to have a nice minimal touch now.

This is where the pagination is styled https://github.com/siteorigin/siteorigin-north/blob/develop/sa

[2016-07-26 05:45] adiraomj commented on #179
Also the previous and next links use icons as shown in my screenshot above.

This is the function that does this https://github.com/siteorigin/siteorigin-north/blob/develop/inc/template-tags.php#L67-L96

[2016-07-26 05:45] gregpriday commented on #179
Yeah, the version @adiraomj posted is how it's meant to look. Do you by any chance have something like Page Navi installed @Misplon?

[2016-07-26 09:58] Misplon commented on #179
@adiraomj Thanks, this is my fault for the way I created a loop-blog.php template in a child theme.

Can we perhaps add a loops folder to North and add a loop-blog.php template so that the Post Loop template can be deployed in North. Same setup as Vantage has with loops.

[2016-07-27 16:25] Misplon opened #181 "WooCommerce: Page settings on Shop and other pages"
Can we get page settings, specifically "No Sidebar" working on the Shop and other WooCommerce pages? What would it take?

[2016-07-27 16:35] adiraomj commented on #181
@Misplon this issue should be posted in the setting framework repo.

[2016-07-27 16:39] #181 closed

[2016-07-27 16:42] Misplon opened #182 "WooCommerce: Adjust archive button spacing when no sidebar present"
Sidebar present, all ok:

![shop-sidebar](https://cloud.githubusercontent.com/assets/789159/17183883/c5501a6a-5429-11e6-93ae-4f524ef5b124.png)

No sidebar, buttons need some love:

![shop-no-sidebar](https://cloud.githubusercontent.com/assets/789159/17183888/ca38cc02-5429-11e6-979c-63fd5c6cf934.png)

[2016-07-27 16:56] Misplon opened #183 "WooCommerce: Style the My Account logged in view"
Style the My Account page when logged in.

![my-account](https://cloud.githubusercontent.com/assets/789159/17184292/bf032434-542b-11e6-8ba1-299f33a16a1b.png)

Style the above like when logged out:

<img width="722" alt="logged-out" src="https://cloud.githubusercontent.com/assets/789159/17184303/cc2975c8-542b-11e6-8974-d96d56da5db4.png">

[2016-07-27 16:56] #176 closed

[2016-07-27 17:42] Misplon opened #184 "Author Box: Add additional styling"
Not quite sure what yet but let's add additional styling to the author box.

[2016-07-27 17:43] Misplon commented on #182
@gregpriday Suggest we get the height the same and then perhaps add a single pixel or small gap between the two in this layout situation.

[2016-07-27 17:48] AlexGStapleton opened #185 "Author Box: Add support for wpautop"
Currently, the biographical info will be output without paragraphs being added. This means that:

Will be output as:
![](https://i.imgur.com/TYcfuA8.png)

Rather than:
![](https://i.imgur.com/oj0BmLd.png)

[2016-07-27 18:02] AlexGStapleton opened #186 "Author Box: Add hook underneath Author Avatar"
We should add a hook underneath the author avatar so that plugins can hook in and add things like social icons underneath the author avatar.

[2016-07-27 18:03] AlexGStapleton commented on #184
I'm not too sure what you could add styling wise. I posted the two other issues that I could come up with but they're not styling related. Maybe the hook one is. S:

Issues:
https://github.com/siteorigin/siteorigin-north/issues/185
https://github.com/siteorigin/siteorigin-north/issues/186

[2016-07-28 15:10] adiraomj commented on #184
@Misplon any ideas on what to do?

One idea is to remove the border and use `background: #eee` for the author box. This should enhance it's minimal look. Other than this the major factor that will impact the look is the fonts selected by the users.

[2016-07-28 15:14] Misplon commented on #184
Let's give that a try. Thanks :)

[2016-07-30 10:29] Misplon opened #190 "RTL: Adapt header search bar for RTL"
Header search in RTL looks as follows:

<img width="1020" alt="search-rtl" src="https://cloud.githubusercontent.com/assets/789159/17269747/386150c2-5651-11e6-871d-d74fa6df2917.png">

Let's have a look at cleaning that if we can. Thanks.

[2016-07-30 12:13] #186 closed

[2016-07-30 12:13] #184 closed

[2016-07-30 12:15] #185 closed

[2016-07-30 12:15] #161 closed

[2016-07-30 12:15] #172 closed

[2016-07-30 12:16] #179 closed

[2016-07-30 12:16] #182 closed

[2016-07-30 12:16] #183 closed

[2016-07-30 12:18] Misplon opened #191 "Post Loops: Add a blog-loop.php template"
Add a blog-loop.php template so that the Post Loop (PB) widget can be used in North. Suggest a "loops" folder like we have in Vantage with the loop template part being used in relevant theme files so we can adjust the loop in a single location. Post Loop widget searches for templates as follows:

[code]

[2016-08-01 09:26] Misplon opened #193 "Customizer: Make responsive layout setting visible in preview"
@adiraomj can we make the change of Theme Settings > Responsive > Disable Responsive Layout visible in the Customizer device preview? Would be helpful for my documentation "gif" video.

[2016-08-01 11:00] #193 closed

[2016-08-03 21:01] Misplon opened #194 "Add a social icons menu location for the author box"
Add a new menu location for social icons that hooks into the author box. The location is for users authors to add their social networks.

Styling has to be present for all supported networks. Unsupported networks/everything else should be represented by a share icon.

http://justintadlock.com/archives/2013/08/07/social-media-nav-menus
http://justintadlock.com/archives/2013/08/14/social-nav-menus-p

[2016-08-04 18:53] AlexGStapleton opened #195 "Taxonomy description: Add support for shortcodes"
You should be able to use shortcodes in the taxonomy description.

![](https://i.imgur.com/CzYkS2I.png)

[2016-08-05 13:53] Misplon commented on #195
Cool.

https://wordpress.org/support/topic/shortcodes-in-category-descriptions

[2016-08-05 17:26] Misplon opened #196 "Admin bar overlaps header at mobile resolution"
Overlap occurs at mobile resolution.

![overlap](https://cloud.githubusercontent.com/assets/789159/17444858/800db974-5b42-11e6-8050-06b73d745291.png)

[2016-08-05 17:27] Misplon opened #197 "Mobile menu toggle text and icon colors aren't changeable"
It currently doesn't appear possible to set the color of the mobile menu text and icon. Consider adding those to the Responsive section.

[2016-08-15 09:44] #197 closed

[2016-08-19 02:34] AlexGStapleton opened #199 "Consolidate customize settings groups that we didn't add into more relevant sections."
We should move WordPress customizer settings like Background Image and Colors into our settings if possible. This way it'll make the overall customizer experience more streamlined as the settings will be in more relevant locations. For example, the background color setting (found in colors) would be better suited in Theme Settings > Page Structure (although Page Structure would need to be renamed

[2016-08-19 08:30] Misplon commented on #199
That last time I saw this come up on the Theme Review Team Slack channel it was split down the middle with one admin being cool with this idea and another being dead against it. Have you seen any big themes move these sections? We'd need to check where TRT landed on this, not sure if it's in the guidelines yet.

[2016-08-22 06:19] davidk132 commented on #169
As a heads up, the extension of smooth scroll sitewide (#173) specifically creates a conflict with [Livemesh's SiteOrigin Widgets](http://portfoliotheme.org/siteorigin-widgets/tabs-and-accordions/), in particular the tabs widget (LSOW_Tabs) and any other widget that depends on anchors.

Because LSOW_Tabs identifies each tab with an anchor, the click event that switches between tabs is blocked by t

[2016-08-22 11:44] gregpriday commented on #199
It might be nice to move the settings around, but I'd prefer to keep things like this as default as possible. A new ruling in the theme review team could result in us having to undo this (and change the docs). We're also opening ourselves up to WordPress version conflicts my moving around default stuff.

All of this makes it not worth doing the move.

[2016-08-22 11:44] #199 closed

[2016-08-22 11:46] Misplon opened #200 "Smooth scroll: prevent conflict with third-party plugins"
@adiraomj Let's see what we can do with regards to the below bug report. First prize would be to focus our application of smooth scroll to generally prevent conflicts. Second prize would be to just deal with the Livemesh conflict.

**Bug report as follows:**

https://github.com/siteorigin/siteorigin-north/issues/169

davidk132 commented 5 hours ago
As a heads up, the extension of smooth scroll sit

[2016-08-22 11:47] Misplon commented on #169
Thanks @davidk132, appreciate the effort. We'll pick this up ASAP in #200 and look to resolve in the next update.

[2016-08-22 11:50] gregpriday commented on #169
Awesome. Thanks for the report @davidk132 - we'll get this resolved.

[2016-08-22 16:49] AlexGStapleton commented on #199
That's fine. :)

At least I have something to reference when someone brings this up again. ;)

[2016-08-22 17:47] davidk132 commented on #200
Here are two options, both of which isolate the Smooth Scroll function and ignore other third-party methods that use anchors. They both work, however I recommend the second one which is more developer- and writer-friendly.

1.
The first idea is not very elegant, which is to prepend anchors with something like `#SOSS_{my-anchor-name-here}`, for example:

[code]

and then look for that prepended tag

[2016-08-23 08:55] Misplon commented on #200
Awesome :) Thanks for the effort, it's most appreciated. We'll get into this ASAP!

[2016-08-23 09:36] AlexGStapleton opened #201 "Customize: When font variant is set to blank, an empty value is output"
We should revert to normal when no option is selected, or output nothing.

![](https://i.imgur.com/O83pSlQ.png)

[2016-08-27 19:04] Misplon commented on #174
`#page ::-moz-selection {
  background-color: #c75d5d;
  color: #fff; }

#page ::selection {
  background-color: #c75d5d;
  color: #fff; }`

[2016-08-27 19:12] #174 closed

[2016-08-29 04:03] adiraomj commented on #201
This is a settings framework issue.

[2016-08-29 04:04] AlexGStapleton commented on #201
Good to know. Thanks mate! :)

[2016-08-29 04:05] #195 closed

[2016-08-29 06:11] adiraomj commented on #168
@Misplon can you please check if the function is working in influence. I pasted a YouTube URL in my content.  It did not work for me.

[2016-08-29 12:22] #190 closed

[2016-08-29 13:13] Misplon commented on #194
Hook in place, will leave for now due to complexity. More of a plugin domain feature: https://github.com/siteorigin/siteorigin-north/blame/develop/inc/template-tags.php#L176.

[2016-08-29 13:13] #194 closed

[2016-08-29 13:23] #191 closed

[2016-08-29 16:59] #196 closed

[2016-08-30 19:06] adiraomj commented on #200
The second solution that @davidk132  suggests is nice.

However, we should consider a couple of points.

1. we would be restricting ourselves to the WYSIWYG editor only, which should not be much of a problem.
2. We should consider backward compatibility.

[2016-08-30 19:44] Misplon commented on #200
We've put off the decision for a bit by just excluding LiveMesh Tabs: https://github.com/siteorigin/siteorigin-north/pull/206. Will address again at a later stage (soon). Thanks everyone.

[2016-09-16 05:46] AlexGStapleton opened #207 "Exclude WooCommerce elements from smooth Scroll"
Someone just pointed out that the sitewide smooth scroll functionality introduced in #173 also affects WooCommerce elements such as the product tabs. We need to exclude this and any other WooCommerce related tabs.

You can replicate this issue on the [demo site](https://demo.siteorigin.com/north/product/decorative-light/).

Reference:
![](https://i.imgur.com/L9D9u34.gif)

[2016-09-19 16:28] Misplon opened #208 "Add a blog loop template for the Post Loop widget"
Add a blog loop template for the Post Loop widget to make use of.

[2016-09-26 04:47] adiraomj commented on #208
Done #191

[2016-09-26 08:35] #208 closed

[2016-09-26 08:35] #207 closed

[2016-09-30 08:30] AlexGStapleton commented on #172
Should this issue remain open while the PR isn't merged?

[2016-09-30 08:35] Misplon commented on #172
Technically, yes. No good reason for closing other than I sometimes forget to come back and close. It also frees things up a little. Have the issue in one place.

[2016-10-02 19:52] Misplon opened #210 "Add Custom Logo support"
Add support for the WordPress custom logo.

[2016-10-03 21:27] #201 closed

[2016-10-03 21:27] AlexGStapleton commented on #201
No reason to really keep this open when it's related to the settings framework.

[2016-10-04 11:10] AlexGStapleton opened #211 "Page Settings (WooCommerce) Products: Page Title doesn't work"
You're unable to hide the WooCommerce products page title via the page settings or the customizer page template settings.

[2016-10-08 15:24] #210 closed

[2016-10-18 18:27] AlexGStapleton opened #214 "Output North WooCommerce assets globally"
WooCommerce widgets can be used sitewide but our assets are only output on WooCommerce specific pages. This means things like the Quick View won't work on, for example, the homepage if they are added by a widget.

For reference, the specific assets I'm referring too are woocommerce.js and woocommerce.css

[2016-10-18 18:31] AlexGStapleton commented on #214
Actually, this is a massive change as quick view relies on the .woocommerce body_class.

[2016-10-19 09:43] AlexGStapleton opened #215 "Mini Cart - Text doesn't wrap"
![](https://i.imgur.com/S35rmGa.gif)

The mini cart is being affected by the [navigation nowrap CSS](https://github.com/siteorigin/siteorigin-north/blob/develop/sass/navigation/_menus.scss#L70).

[2016-10-20 02:29] AlexGStapleton opened #217 "Top Bar Widget Area"
Much the same as the [masthead widget area in Vantage](https://github.com/siteorigin/vantage/pull/144), we should add a widget area for the Top bar in North. My reasoning behind this is it's not uncommon for eCommerce related websites to include a sub menu (typically contains account related links) above the regular navigation and social icons, etc.

Allowing the user to replace the top bar conten

[2016-10-23 10:55] #215 closed

[2016-10-23 10:56] Misplon commented on #214
@adiraomj Before I assign priority to this, please, can you take a look at the scope challenges here and let us know what you'd like to do. Thanks man.

[2016-10-23 11:51] Misplon commented on #166
@adiraomj If possible, let's look at getting this featured added for the next release in two weeks time.

[2016-10-23 13:35] adiraomj commented on #214
@Misplon I should be able to do this.

[2016-10-23 13:36] adiraomj commented on #166
@Misplon Sure thing. I'll get this done in a couple of days.

[2016-10-23 13:38] Misplon commented on #214
Thanks.

[2016-10-25 09:10] AlexGStapleton opened #218 "Smooth Scroll: Limit to specific areas, class and add a setting for more selectors"
As per the [conversation on slack](https://siteorigin.slack.com/archives/themes/p1477272269000087). The following should be done to the smooth scroll:

The Smooth scroll will be limited to the header, sidebar and footer. We'll add a settings field that will allow the user to define a selector for custom areas and widgets. The user will also be able to apply smooth scroll by applying .so-scroll to

[2016-10-26 06:35] AlexGStapleton opened #219 "Quick View: long product names will overlap with price"
![](https://i.imgur.com/KTD2nqU.png)

The product name, if long enough, will overlap with the price of the product in the quick view.

[2016-10-30 13:23] Misplon opened #220 "Add the header scroll shadow regardless of logo or logo scale setting"
At the moment, the `floating` class is only used when a logo is added and scaling is enabled. The scroll header shadow is linked to this class. We ideally, need to be adding this shadow, independent of whether a logo is added and independent of whether the scroll, scale setting is enabled.

https://github.com/siteorigin/siteorigin-north/blob/develop/js/north.js#L323-L369

https://github.com/siteor

[2016-10-31 17:45] Misplon opened #221 "Improve Mobile Menu Collapse Setting"
The changes below are to improve the mobile menu collapse setting for North and for Unwind if / when we implement it.

The Vantage mobile menu collapse setting has two advantages over the North method:

1. It allows a value below the default to be set. In North a user can't set a value below `500px`. To achieve this in North we'd need to output the breakpoint CSS even if no value is set. Put anoth

[2016-10-31 17:52] Misplon opened #222 "Close the mobile menu if the resolution increases beyond the breakpoint"
Not a normal use case, but, for users testing on their desktop it would be neater if we closed the mobile menu if the user increases the viewport beyond the breakpoint setting or default if no setting is set. Small task to complete.

To see this issue:

1. Change browser window to mobile.
2. Open mobile menu.
3. Resize browser to full-width.

Ideally, at this point, we should close the mobile menu

[2016-10-31 20:03] AlexGStapleton opened #223 ".wc-proceed-to-checkout is hidden"
When [.wc-proceed-to-checkout is hidden](https://github.com/siteorigin/siteorigin-north/blame/develop/sass/woocommerce/_cart.scss#L127) certain payment methods, such as [PayPal for WooCommerce - angelleye](https://en-au.wordpress.org/plugins/paypal-for-woocommerce/), won't be usable on the cart page as it's not visible.

Is .wc-prooced-to-checkout hidden for a specific reason?

[2016-11-01 09:38] Misplon commented on #223
@adiraomj Can you please, take a look at this. Any idea why it was originally hidden? Thanks.

[2016-11-01 10:23] AlexGStapleton opened #224 "Comment form fields aren't responsive"
Outside of the comment itself, the guest comment fields aren't responsive. Here's what the comment form looks like at 375x540px:

![](https://i.imgur.com/NoAFeIz.png)

667x375 (horizontal iPhone 6):
![](https://i.imgur.com/F3ak5xz.png)

Please note that this also affects the review form.
![](https://i.imgur.com/bMLmGl4.png)

For a demonstration, please [refer to the theme demo](https://demo.siteor

[2016-11-01 13:02] Misplon commented on #224
@alex, is the iPhone 6 landscape issue not because the sidebar is present at that resolution? If you scroll up, you possibly have a sidebar there which is why the comment form isn't full-width.

[2016-11-01 13:30] Misplon commented on #224
@AlexGStapleton I've changed the behaviour for below 480px. Pull `develop` and let me know if you want further adjustments. Thanks :)

[2016-11-01 19:23] Misplon opened #225 "WooCommerce: Make the mini-cart visible during the checkout process"
Users have requested the mini-cart stay visible during checkout. I realise this isn't the best usability practice but it seems enough requests have come up to consider it.

[2016-11-01 19:25] Misplon opened #226 "WooCommerce: Add a stripped checkout option"
Add a default off setting for a stripped checkout. The stripped checkout would remove the main menu and search icon, leaving the logo. Footer widgets would be removed, leaving only the copyright. The sidebar would be removed and the content container constrained and centered.

[2016-11-01 19:25] Misplon commented on #225
We could add this to compensate: https://github.com/siteorigin/siteorigin-north/issues/226.

[2016-11-01 19:30] gregpriday commented on #226
Is this not possible with a page template?

[2016-11-01 19:30] Misplon opened #227 "Main Menu: Change drop-down menu direction once viewport edge is reached"
If the viewport edge is reached, change the drop-down menu direction from right to left.

If we're in a second level drop-down and onwards, then I'm not quite sure how that would work as we'd already have drop-downs open going right. We could position drop-down items crossing the viewport below the last item in view. Ideas here welcome.

[2016-11-02 01:13] AlexGStapleton commented on #224
@Misplon Yes, technically, it's due to the sidebar, it's still unreadable though.

That's much better by the way. :)

[2016-11-02 09:24] Misplon commented on #224
@AlexGStapleton What we could do then is push these adjustments to `768` or `880px` and not just `468`. You keen for that?

[2016-11-02 09:50] AlexGStapleton commented on #224
Yes. 768px should be fine. :)

[2016-11-02 10:07] Misplon commented on #224
Resolved via https://github.com/siteorigin/siteorigin-north/commit/439068baeff04412ec9dc27d5b7335fedc163072

[2016-11-02 10:07] #224 closed

[2016-11-04 18:11] adiraomj commented on #225
Do we make this optional with a setting?

[2016-11-04 18:17] adiraomj commented on #226
A page template would be better than a setting. We could call it **Stripped Template**.

[2016-11-04 18:27] adiraomj commented on #227
Wondering why this change would be needed? I'm guessing from  a UX point of view, most users would be more comfortable with the way things are.

If the issue is concerning dropdowns appearing beyond the viewport, users who have multiple levels of dropdowns for their first menu item would face a problem with this change.

I think it would be better for users to design the menu to suit the theme and

[2016-11-04 18:39] adiraomj commented on #222
This should not happen. I'm also unable to replicate it.

https://github.com/siteorigin/siteorigin-north/blob/develop/inc/settings.php#L962-L966 takes care of the issue.

Can you please check the CSS on your front end when the mobile menu appears beyond the breakpoint. Thanks

[2016-11-04 19:07] #222 closed

[2016-11-04 19:14] #223 closed

[2016-11-04 19:17] #221 closed

[2016-11-05 08:16] Misplon commented on #226
@adiraomj Ok cool, I'll get on this.

[2016-11-05 08:17] Misplon commented on #227
Slack chat summary: Adi will try a very basic implementation of this, we'll see how it comes out.

[2016-11-07 01:38] AlexGStapleton opened #230 "Infinite Scroll Product archive issue"
When infinite Scroll is active and you view a WooCommerce Product tag it'll output the infinite scroll fetched posts like a blog would rather than how WooCommerce outputs its products.

Reference gif:
![](https://i.imgur.com/mCOlUBs.gif)

[2016-11-15 15:25] AlexGStapleton opened #233 "Hide Premium teaser on about when premium active"
We shouldn't should the SiteOrigin Premium teaser on the about page when SiteOrigin Premium is active.

![](https://i.imgur.com/QHoWkPF.png)

[2016-11-15 15:56] Misplon commented on #233
For sure. Can you log in Settings Framework for us?

[2016-11-15 15:58] AlexGStapleton commented on #233
Oh. My mistake.

[2016-11-15 15:58] #233 closed

[2016-11-15 16:01] Misplon commented on #233
No problem, thanks :)

[2016-11-16 09:25] AlexGStapleton opened #234 "Add the ability to enable scroll to top for mobile devices"
Similar to the [mobile navigation setting in Vantage](https://siteorigin.com/vantage-documentation/customizing-vantage/theme-settings/navigation/), we should add the ability to enable the Scroll to top for mobile devices.

[2016-11-24 18:45] AlexGStapleton opened #235 "Mobile Menu: Add Scroll when sticky menu is being used and menu exceeds vh."
If the mobile menu is sticky and there're more menu items than can fit on the screen at once, you won't be able to see all menu items as you cannot scroll the mobile menu.

![](https://i.imgur.com/rnbIQCh.gif)

[Reference](http://alex.siteorigin.net/sample-page/)

[2016-11-24 19:19] adiraomj commented on #235
We worked on the same issue before #63. The fix from there seems to work fine on iOS. But giving problem with Android. I'll work on a fix. :)

[2016-11-25 11:25] AlexGStapleton commented on #235
Oh, that does appear to be related - my bad.

I provided a temporary solution to the user that looked like so:

[code]

Maybe run a check to see if the mobile menu exceeds the browser (height wise) and apply overflow-y: scroll if it does? That's likely not the best fix but a temporary solution is better than no solution imo.

[2016-12-05 19:33] #219 closed

[2016-12-07 13:44] Misplon opened #237 "Sticky header related page jump on load"
Investigate resolving page jump on load caused by sticky header implementation.

Video: https://dl.dropboxusercontent.com/u/3072682/SO/north-sticky-sentinel-jump.mp4

[2016-12-19 09:46] AlexGStapleton opened #241 "Integration: Add Support for Max Mega Menu"
We should run some tests to ensure we integrate well with [Max Mega Menu](https://en-au.wordpress.org/plugins/megamenu/) (100k).

[2016-12-19 09:49] AlexGStapleton commented on #241
User approached and stated he was having issues with using the Max Mega Menu columns. The issues was due to the submenu items being limited to 100%. The sub menu links also had issues with the links being set a hard width but that might be more related to max mega menu.

The resulting CSS for the conversation (to resolve the column issue) was:

[code]

Max Mega Menu adds about a dozen or so classe

[2016-12-21 13:59] AlexGStapleton opened #242 "Add Dedicated Menu Font Options: Color and Font Family"
This comes up about once or twice a week now on Premium support so we really should add dedicated options rather than tying them to the Light Text Color and Main Font.

[2016-12-22 14:55] Misplon commented on #226
@AlexGStapleton The stripped page template has been added to the develop branch. Check it out when you have a moment. We'll aim for a North release on Monday.

[2016-12-22 14:55] #226 closed

[2016-12-23 13:27] AlexGStapleton commented on #226
Just tried it. Looks good! 👍  Although I really don't agree with it being a template - it would be better as a page layout.

[2016-12-29 10:56] AlexGStapleton opened #244 "Initial Load Smooth Scroll - account for page load"
When widgets like the SiteOrigin Hero widget are present on the page and a user has navigated to this page via a link with a fragment (example.com/example-page/#test), chances are the user will end up in the wrong location due to the hero widget setup not being complete. To avoid this issue we should either account for this or put a delay on it. The latter, while easier, seems to be very unreliabl

[2016-12-29 11:00] Misplon commented on #244
Any chance you have a live link for this problem? Does putting the anchor in the row not resolve the issue?

[2016-12-29 15:05] adiraomj commented on #244
Would using `window.load` solve the problem ? This way the function would run only after the page has completely loaded.

[code]

[2016-12-29 15:22] AlexGStapleton commented on #244
Hm, that would work yes but depending on the page itself load may be triggered for a ridiculous amount of time. I would say try it, and if people don't like it, we'll just revert it.

[2016-12-29 16:10] #234 closed

[2016-12-29 16:30] adiraomj commented on #211
Refer https://github.com/siteorigin/settings/issues/35

[2016-12-29 16:32] #211 closed

[2016-12-31 18:45] Misplon opened #248 "Post meta comments link: Smooth scroll it"
Add the post meta comments link to the smooth scroll list. `.comments-link a[href*="#"]:not([href="#"])`. It will smooth scroll that link but most importantly, it'll offset the header.

[2016-12-31 19:13] #244 closed

[2017-01-01 13:39] Misplon opened #249 "Smooth scroll: Recalculate the header height when logo scaling is enabled"
@adiraomj Any thoughts on how we can enhance [this calculation](https://github.com/siteorigin/siteorigin-north/blob/develop/js/north.js#L65-L68) to allow for the change in header height when logo scaling is enabled?

[2017-01-01 15:12] Misplon opened #250 "Older/Newer comments links don"

[2017-01-03 16:17] AlexGStapleton opened #251 "Font Theme Settings: Add descriptions"
It's not really clear what "Dark Text" or "Medium text" is for so to prevent confusion, we should provide a brief example of what the text color is used for.

[2017-01-08 13:58] adiraomj commented on #251
Suggestions:

**Dark Text Color** : Applied to headings and titles
**Medium Text Color** : Default color applied to all text
**Light Text Color** :  Applied to comments and breadcrumbs
**Meta Text Color** : Applied to bylines
**Menu Text Color** : _self-explanatory_
**Menu Text Hover Color** : _self-explanatory_

What do you guys think?

[2017-01-08 17:28] AlexGStapleton commented on #251
Doesn't Dark Text color also apply to hover? If not, why not just rename it to header color?

[2017-01-09 13:49] #225 closed

[2017-01-09 13:53] #230 closed

[2017-01-09 14:06] Misplon commented on #251
It might be applied to other elements in the future so let's go with the explanation and see if that helps the problems. I'll also update docs.

[2017-01-09 17:12] #237 closed

[2017-01-09 17:12] #235 closed

[2017-01-10 12:55] #242 closed

[2017-01-11 09:29] AlexGStapleton opened #253 "Change WooCommerce PayPal Gateway checkout icon"
Find out if we can change this icon. and if so, change it to something that looks better overall.

![](https://i.imgur.com/7Gil3C2.png)

[2017-01-11 09:30] AlexGStapleton opened #254 "Stripped Template: Disable scroll to top"
The stripped template is a very light version of North. The scroll to top button isn't light and stands out a lot.

[2017-01-13 09:12] AlexGStapleton opened #255 "Setting: Add ability to output site title alongside logo"
A common request is for the ability to have both the logo and site title present. More often than not, people want them to appear side by side and Andrew has stated this might require some adjustments to the scaling JS.

[Suggested via Slack](https://siteorigin.slack.com/archives/themes/p1484259131000002)

[2017-01-24 08:26] gregpriday opened #256 "Include screen reader text div when using custom responsive menu text"
For this line, we should probably still have the screen reader text div, even when the user enters a custom responsive menu text.

https://github.com/siteorigin/siteorigin-north/blob/648da83bfc7369cdbc11a9004479892e2f18fcd5/header.php#L54

[2017-01-24 12:39] Misplon commented on #256
Sweet :)

[2017-01-24 14:49] Misplon commented on #256
@gregpriday https://github.com/siteorigin/siteorigin-north/commit/2b8bd107e63e7a3b70c66e4c1efb02d896f9333e#diff-1c1ae65fe9828eb6d3cee4edacf90018L56

[2017-01-24 15:04] #256 closed

[2017-01-25 16:56] AlexGStapleton opened #257 "Uncaught TypeError: Cannot read property 'getBoundingClientRect' of undefined"
[This](https://github.com/siteorigin/siteorigin-north/blob/develop/js/north.js#L294) specific instance of northIsVisible() seems to be causing the aforementioned error.

[2017-01-26 14:22] #257 closed

[2017-01-26 14:27] #255 closed

[2017-01-26 14:27] #251 closed

[2017-01-28 22:28] Misplon commented on #254
@adiraomj Quick check for: https://github.com/siteorigin/siteorigin-north/commit/96138314cee268b5dea3a55d1b91058a79f9be9e. Meant to do two commits hence the incorrect commit message. Thanks.

[2017-01-29 02:16] Misplon commented on #253
This looks to be ok in my version. @AlexGStapleton Please, can you check.

<img width="273" alt="paypal" src="https://cloud.githubusercontent.com/assets/789159/22401388/e23c9bc4-e585-11e6-9cf3-755b404f8b97.png">

[2017-01-29 05:15] AlexGStapleton commented on #253
I'm still seeing this. Hm. The url of the image is https://www.paypalobjects.com/webstatic/en_AU/mktg/logo/Solutions-graphics-1-184x80.jpg for me, what is it for you?

[2017-01-29 12:06] adiraomj commented on #254
Looks good

[2017-01-29 17:21] #254 closed

[2017-01-29 17:26] Misplon commented on #253
Ahh! PNG:
https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png

Cool, will try to standardise it.

[2017-01-29 17:56] Misplon commented on #253
Forgot to hash the issue number. Pull and check this: https://github.com/siteorigin/siteorigin-north/commit/4be7162edbf5090d224450940dbaa84a08e74ac5.

[2017-01-29 17:57] Misplon commented on #227
Going to close this for now due to overall workload.

[2017-01-29 17:57] #227 closed

[2017-01-29 17:57] Misplon commented on #166
Adi, quick bump to prio 1. Thanks :)

[2017-01-29 17:58] Misplon commented on #170
@adiraomj Perhaps we could take another look.

[2017-01-29 17:58] Misplon commented on #214
@adiraomj Quick look here when possible.

[2017-01-29 17:59] Misplon commented on #217
This will be epic. Good idea.

[2017-01-30 03:42] AlexGStapleton commented on #253
Oh. I'm blind - how did I not see that it was a jpg. :facedesk:

[2017-01-30 04:16] AlexGStapleton commented on #253
All good! 👍

[2017-01-30 04:17] #253 closed

[2017-01-30 17:01] #217 closed

[2017-02-03 20:33] AlexGStapleton opened #262 "Mini Cart duplicates when you open mobile menu multiple times"
This can be replicated [in the demo](https://demo.siteorigin.com/unwind/).

![](https://i.imgur.com/t2SFeTv.png)

[2017-02-03 21:17] Misplon commented on #262
@AlexGStapleton User reported this so we'll go with their issue number. I'm going to close this unless you're seeing the same issue in North.

[2017-02-03 21:17] #262 closed

[2017-02-03 21:43] AlexGStapleton commented on #262
Huh? I don't understand your reply. Can you please elaborate?

I'm seeing the same issue on the demo for North - the above screenshot was taken by me.

[2017-02-03 21:53] Misplon commented on #262
No problem. The screenshot and link is for Unwind, this is the North repo.

In the Unwind repo a user has logged: https://github.com/siteorigin/siteorigin-unwind/issues/105.

[2017-02-03 22:19] AlexGStapleton commented on #262
Oh.... well this is awkward.

[2017-02-15 10:10] AlexGStapleton opened #263 "Customizer CSS: Don't output WooCommerce CSS unless WooCommerce is active"
We should add a WooCommere check to [siteorigin_north_settings_custom_css()](https://github.com/siteorigin/siteorigin-north/blob/develop/inc/settings.php#L490) to prevent the WooCommerce CSS from being unnecessarily output.

[2017-02-15 17:39] Misplon commented on #263
We'd have to manually split up the CSS build output but it's possible.

[2017-02-21 21:55] AlexGStapleton opened #264 "Minified style.css uses incorrect z-index"
In the latest release the minified version of style.css isn't using the correct z-index in any situation. For example, the #masthead has a z-index of 5, not 999.

![](https://i.imgur.com/Lyxbmzr.png)

A quick look over the entire file and no z-index is correct - they're all sub 10. I'm unsure if this is an issue with the build script, or just the release so I'm logging this here just to be safe.

[2017-02-22 13:01] gregpriday commented on #264
@braamgenis, can you check if there's a way to turn off z-index range reduction (or whatever it's called) in the build script?

[2017-02-22 13:12] braamgenis commented on #264
Hrmmm. It'd be weird if they're doing that by default. I'll check.

[2017-02-22 13:19] braamgenis commented on #264
Bizarre... They call it **unsafe** in their docs, and then make it the default behaviour...
http://cssnano.co/optimisations/zindex/

[2017-02-25 17:06] #264 closed

[2017-02-25 17:09] Misplon opened #265 "Widget Top Bar: Social buttons causing overlap"
<img width="431" alt="social" src="https://cloud.githubusercontent.com/assets/789159/23333079/15573ac2-fb3a-11e6-82fd-e5ffdadec480.png">

Social network widget inserted into top bar causes overlap.

[2017-02-26 06:37] adiraomj commented on #265
@Misplon can you please see if any setting is causing the problem on your setup.

I have tested with and without sticky menu active. Could not replicate the issue.

![screenshot-so dev 2017-02-26 12-06-40](https://cloud.githubusercontent.com/assets/3372029/23337689/11a5e3be-fc1c-11e6-82e3-dba6d1b94270.png)

[2017-02-26 16:31] Misplon commented on #265
@adiraomj Please, check to see that the Text Above field is completely empty, any text in that field will fix this problem. Thanks.

[2017-03-09 11:43] Jursdotme opened #266 "Header colors override widget colors"
Im not sure if this is to be considered a North theme issue or a general Page Builder issue.

When using custom font colours on a widget the "Dark Text colour" from the customizer overrides the widget specific settings. This should really be the other way around.

Adding this
[code]
...fixes the problem by effectively ignoring the setting in the customizer. But having the customizer setting as a f

[2017-03-09 14:58] adiraomj commented on #248
As of now, smooth scroll applies to all links on the page containing `#`.
https://github.com/siteorigin/siteorigin-north/blob/develop/js/north.js#L417

We can revisit this if we add more specificity to the links to which smooth scroll is applied.

[2017-03-14 09:31] #265 closed

[2017-03-14 09:35] Misplon commented on #266
Thanks @Jursdotme. Will take a look ASAP and work out the best place to make this fix.

[2017-03-14 09:53] #263 closed

[2017-03-15 08:34] AlexGStapleton opened #269 "Add ability to set text color for just the footer area"
Commonly, user's will set a darker color background when compared to the rest of the page. This can cause issues when the user has set the text color to be dark. As a result, it would be a good idea to add the ability to set a different color for the footer text area.

[2017-03-20 08:28] Misplon opened #270 "Close header search using escape key"
Allow the header search field to be closed using the escape key.

@adiraomj, perhaps we can do this with https://github.com/siteorigin/siteorigin-north/issues/170

[2017-03-29 17:15] AlexGStapleton opened #272 "WooCommerce: Allow for different number of columns"
We currently don't allow for WooCommerce to handle the column count due to our CSS for columns.

For more information, [please refer to this page](https://docs.woocommerce.com/document/change-number-of-products-per-row/).
Unwind Issue: siteorigin/siteorigin-unwind#121

[Slack Chat](https://siteorigin.slack.com/archives/C02T5GSNA/p1490807285780629)

[2017-04-08 09:52] #266 closed

[2017-04-10 12:58] #272 closed

[2017-04-25 15:45] #270 closed

[2017-04-25 15:45] #269 closed

[2017-05-02 08:41] AlexGStapleton opened #280 "Ensure WooCommerce 2.6 Compatibility"
We need to ensure WooComemrce 2.6 compatibility for the time being due to the popularity/reluctantly for people to update ([reference](https://en-au.wordpress.org/plugins/woocommerce/advanced/)).

Here's an error I'm aware of for product pages:
Fatal error: Call to undefined function wc_get_stock_html() in /public_html/dev/wp-content/themes/siteorigin-north/woocommerce/single-product/add-to-cart/s

[2017-05-02 17:26] adiraomj commented on #280
Are you able to replicate the issue with `wc_get_stock_html()`. This is a valid function and is also used in the default WC template. https://github.com/woocommerce/woocommerce/blob/master/templates/single-product/add-to-cart/simple.php#L28

[2017-05-03 12:20] #280 closed

[2017-05-09 07:41] Misplon commented on #166
@adiraomj Should we proceed with this one? Thanks :)

[2017-05-09 07:41] #168 closed

[2017-05-09 07:42] Misplon commented on #170
@adiraomj Do you have any ideas for how the header search might be opened with the keyboard? Perhaps in tab order? We can also implement this in Unwind.

[2017-05-09 07:42] Misplon commented on #200
The current exclusions seem to be working for now so I'll close this. If any further issues arise we can re-open it.

[2017-05-09 07:42] #200 closed

[2017-05-09 07:43] Misplon commented on #214
@adiraomj Any ideas here?

[2017-05-09 07:43] Misplon commented on #218
@AlexGStapleton Do you still want this issue attended to?

[2017-05-09 07:44] #248 closed

[2017-05-09 07:44] Misplon commented on #249
@adiraomj Might be a cool one to add if you have time. Thanks.

[2017-05-09 09:03] AlexGStapleton commented on #218
I think we can put it on the backburner for the time being as I haven't actually seen reports of this being an issue.

Consider reopening later on if this starts to become a more major occurrence.

[2017-05-09 09:03] #218 closed

[2017-05-09 09:11] Misplon commented on #218
Perfect.

[2017-05-09 12:30] AlexGStapleton opened #283 "Integration: Add Support for UberMenu"
Basically the same request as #241

We should run some tests to ensure we integrate well with [UberMenu](https://codecanyon.net/item/ubermenu-wordpress-mega-menu-plugin/154703) (at least 60k).

[2017-05-09 12:35] AlexGStapleton commented on #283
[Requested here](https://siteorigin.com/thread/ubermenu-and-north-theme-conflict/) and [reported here](https://siteorigin.com/thread/ubermenu-big-issue-on-mobile/).

Basically, just general functionality issues (inability to scroll, unable to use different menu types) are present.

[2017-05-10 13:54] AlexGStapleton opened #284 "Cart: Visually unable to remove all items from cart without refreshing page"
While it's possible to remove certain items from the cart when on the cart page, it's not possible to visually remove all of them. I say visually because the item is, in fact, being removed but it's not apparent due to it still being present on the page. If you refresh the page, the cart will be empty.

![](https://i.imgur.com/MavE5G5.gif)

This can be replicated on the demo.

[2017-05-11 06:52] Misplon commented on #284
Wild!

[2017-05-11 06:52] Misplon commented on #284
@adiraomj Think you can check this one out for us?

[2017-05-11 09:54] Misplon commented on #283
Cool, might as well do MMM at the same time. MMM has a free version.

[2017-05-11 12:16] AlexGStapleton opened #285 "Increase line-height for product titles"
We should increase the line-height for product titles as it feels a tad low at the moment.

Currently:
![](https://i.imgur.com/dHlP8V2.png)

After applying 1.1em:
![](https://i.imgur.com/iLRoVyn.png)

[2017-05-17 18:15] Misplon commented on #285
https://github.com/siteorigin/siteorigin-north/commit/6a07664728b908da10129d1de6496b61441cfa77

[2017-05-17 18:15] #285 closed

[2017-05-22 16:18] #284 closed

[2017-05-24 01:33] AlexGStapleton opened #287 "Sidebar Position setting"
We should add a sidebar setting that will allow the user to change the sidebar position from right to left.

This is a semi-common request.

[2017-05-29 08:59] Misplon commented on #287
https://github.com/siteorigin/siteorigin-north/pull/288

[2017-05-29 08:59] #287 closed

[2017-05-30 09:45] Misplon opened #289 "WooCommerce Quick View: Close modal with escape key"
Add ability to close the Quick View modal with escape key.

[2017-06-02 07:38] #289 closed

[2017-06-04 06:35] Misplon opened #291 "Mini-Cart isn't scrollable"
If a large number of items are added to the mini-cart and the cart contents stretch below the bottom of the viewport, it isn't possible to scroll the contents.

[2017-06-05 04:21] #291 closed

[2017-06-14 08:10] Misplon commented on #166
@AlexGStapleton You cool with just the remove icon or you still want us to add quantity up and down? What's the standard on big ecommerce sites?

[2017-06-14 10:51] knightknight commented on #181
I've used the Page Template Settings > Type: Products, to set my 'No Sidebar' but where I've used 'Overlap Content' for Menu Settings and as a site wide design this becomes a problem. WooCommerces Shop page doesn't pick up anything built with Page Builder nor is there a way of putting a header image in via the customiser or something similar.

[2017-06-14 10:55] Misplon commented on #181
Hi @knightknight

**Overlap**
_but where I've used 'Overlap Content' for Menu Settings and as a site wide design this becomes a problem._

What problem do you run into?

**Shop**
The shop page is like your blog page, once assigned in WooCommerce settings, content from the editor isn't used. My guess is that the best way to proceed would be to build your own shop home page, different to the shop ho

[2017-06-15 13:47] #220 closed

[2017-06-15 14:29] knightknight commented on #181
@Misplon, there is a similar issue on the SiteOrigin [https://siteorigin.com/thread/changing-default-woocommerce-shop-page/](url) thread about this. I've tried linking to an alternative shop page but the url will also resolve to /shop which can look odd if you pushing /store url.

That said I looked into the WooCommerce Shop template docs and found I needed to remove the `woocommerce_content();` f

[2017-06-15 14:47] Misplon commented on #181
Thanks for the detailed feedback, I appreciate it.

Can you confirm that you're using a child theme for these modifications?

[2017-06-15 16:09] AlexGStapleton commented on #166
I've had a look around and there aren't many mini-carts so this was quite tricky. Based on what I've seen though, the quantity options are a bit much and a remove option is enough.

[Toys R Us](http://www.toysrus.com) doesn't provide any options:
![](https://vgy.me/XTIdG5.png)

[Asos](http://www.asos.com) only shows a removal option.
![](https://vgy.me/wgJ1YB.png)

[Macys](https://www.macys.com) o

[2017-06-15 17:30] Misplon commented on #166
Nicely done! Epic research man, gifs and all! Props. Ok sweet, will close then, we'll stick with the remove icon for now across our themes with mini-cart.

[2017-06-15 17:30] #166 closed

[2017-06-15 17:54] knightknight commented on #181
I'm using a child theme for these changes. North relies on the 'catch all' woocommerce php snippet file so no point changing the parent theme files. Hopefully I should get some time and I'll try adding in my suggestions to the customise settings file.

[2017-06-15 20:14] Misplon commented on #181
Ok awesome, glad to hear all the extra effort is update safe. Thanks again for your input. This has certainly come up before. With the Blog home page issue (as an example) we recommend users don't assign a posts page and instead build their own blog home using Page Builder and the Post Loops widget. I'll dive into ways we can accommodate the Shop home page and the overlap issue ASAP. Thanks again

[2017-06-19 15:49] Misplon commented on #241
@adiraomj Let's hit this one first in our next North run.

[2017-06-28 07:34] #241 closed

[2017-06-28 07:43] Misplon commented on #214
@AlexGStapleton I can take this on. I'm guessing the following needs to happen:

* WooCommerce widget styling needs to be removed from the `.woocommerce` parent selector in the `woocommerce.cs`s file.

[2017-06-28 10:58] AlexGStapleton commented on #214
Correct. It also needs to be output on all pages also. Ideally, keep the woocommerce.css separate still so the CSS is only present if WooCommerce is active.

[2017-06-28 13:14] AlexGStapleton opened #294 "WooCommerce: Theme CSS interfering with notices"
[This line](https://github.com/siteorigin/siteorigin-north/blob/develop/sass/site/primary/_posts-and-pages.scss#L277) is interfering with the WooComemrce error notice, and possibly, other notices.

You can easily cause this error notice by adding a product to your cart and then enabling stock management for the product and setting it to out of stock.

![](https://vgy.me/s6U5YS.png)
![](https://vgy

[2017-06-28 13:44] Misplon commented on #214
Should be resolved now. Anything comes up, let me know.

[2017-06-28 13:44] #214 closed

[2017-06-28 13:49] #294 closed

[2017-06-29 08:53] AlexGStapleton opened #295 "WooCommerce Template Updates: cart/cart.php, cart/cart-mini.php"
WooCommerce has updated cart/cart.php and cart/cart-mini.php. We should check to see if there are any major differences that need to be added and then bump the version number.

`Version 3.0.3 av siteorigin-north/woocommerce/cart/cart.php är föråldrad. Versionen i kärnan är 3.1.0,
Version 2.5.0 av siteorigin-north/woocommerce/cart/mini-cart.php är föråldrad. Versionen i kärnan är 3.1.0`

[2017-06-30 08:27] #295 closed

[2017-07-04 16:59] AlexGStapleton opened #297 "Sidebar width doesn't work when position set to left"
[This selector](https://github.com/siteorigin/siteorigin-north/blob/develop/sass/layout/_sidebar-content.scss#L5) (.layout-sidebar-left .site-content .widget-area) is more specific than the CSS generated by the customizer (.site-content .widget-area).

![](https://vgy.me/w8jYRQ.png)

[2017-07-05 15:19] #297 closed

[2017-07-11 12:29] Misplon opened #299 "WooCommerce Sort: Change to tap for mobile"
WooCommerce sort field works on hover for desktop. This doesn't work well on mobile, must be changed to tap.

Down/up arrow is also badly aligned.

[2017-07-11 12:31] Misplon commented on #299
I think easiest would be to change to click like we're doing for Unwind. That works smoothly and the same on mobile and desktop.

[2017-07-28 15:36] Misplon opened #300 "Adjust sticky header position for WooCommerce store notice"
![demo-store-notice](https://user-images.githubusercontent.com/789159/28724706-4226de50-73bb-11e7-9177-bb365989f41d.jpg)

[2017-07-28 15:46] Misplon commented on #300
Because this notice can be dismissed, a CSS solution using the body class `woocommerce-demo-store` doesn't appear possible. JS solution will be required I think.

[2017-07-30 17:33] #299 closed

[2017-08-16 13:34] #283 closed

[2017-08-16 23:01] AlexGStapleton opened #304 "UberMenu: Selector change causes search alignment issue"
This is a follow up to #302.

[This line](https://github.com/siteorigin/siteorigin-north/blame/develop/sass/navigation/_menus.scss#L154) causes alignment issues with the search icon. The user stated he was able to resolve this issue by setting it to inline-block (rather than block) but I suspect that's not the ideal fix.

![](https://i.imgur.com/niZwsrT.gif)

[2017-08-17 09:45] Misplon commented on #304
That fix is ok for the user if they are using UberMenu. It wouldn't be ideal for a user needing to switch back to the regular menu. Let me take a look. I had thought users would use the UberMenu search and not our search when switching to UberMenu.

[2017-08-17 09:50] Misplon commented on #304
Oh dear! Ok, I see. Will push an update for this shortly. My bad.

[2017-08-17 10:34] #304 closed

[2017-08-31 08:34] #300 closed

[2017-09-06 13:44] #249 closed

[2017-09-12 19:31] Misplon commented on #170
Resolved via: https://github.com/siteorigin/siteorigin-north/commit/5e6ed52c29ea5d4f24007c75ada3c878f50f5515.

[2017-09-12 19:31] #170 closed

[2017-10-13 10:52] AlexGStapleton opened #307 "Mobile Menu: SVG Issue"
I've received a few reports of an issue with the mobile menu icon. This issue _does_ affect [the North demo](https://demo.siteorigin.com/north/). Here's a copy of one of the reports:

![](https://i.imgur.com/GIcjzQK.jpg)

This appears to be a recent issue as I have only received this reports within the last week. This also apparently also only affects retina devices - although I can't personally r

[2017-10-13 11:03] Misplon commented on #307
Will attend. Thanks man.

[2017-10-14 13:36] Misplon commented on #307
@adiraomj Can you take a look for us?

[2017-10-15 10:44] Misplon commented on #307
Unfortunately, I just removed those in a commit before this PR: https://github.com/siteorigin/siteorigin-north/commit/42b3454e6a652591517e933fed4462ab1543db81. It looks like something else is the problem. Thanks Adi.

[2017-10-16 04:01] AlexGStapleton opened #309 "WC: Outdated templates"
WooCommerce is reporting two of the templates included with North are outdated.

[code]

[2017-10-17 07:25] AlexGStapleton commented on #307
You can actually replicate this issue in the latest version of FireFox (reported [here](https://siteorigin.com/thread/responsive-burger-menu-is-broken-in-firefox/)). I personally prefer the idea of the new icon based Mobile Menu though.

![](https://vgy.me/5o2bsV.png)

[2017-10-18 11:27] #307 closed

[2017-11-21 05:21] AlexGStapleton opened #315 "Add a Shop widget area that replaces the default sidebar on WooCommerce pages"
North should have a shop sidebar for WooCommerce pages like Unwind, Corp and Vantage do.

[2017-12-25 17:54] #315 closed

[2018-02-08 20:41] Misplon opened #318 "Mini Cart and Cart widget are not displaying contents"
Contents are blank of the Mini Cart and the Cart widget.

[2018-02-09 14:10] #318 closed

[2018-02-13 10:13] AlexGStapleton opened #319 "Search close icon doesn't have the same styling as the search icon"
The search close icon doesn't retain the search icon styling. This can be problematic when you change the header/menu background color to a darker color as it can result in the close icon being hard/impossible to see.

![](https://i.imgur.com/H5fdr4p.gif)

[2018-02-18 20:55] frontenddevguy opened #320 "A few bugs to report"
1.)
Sometimes the rich textwidget is stripping paragraph tags, whether they are present in text view or not. This makes styling more specificity-dependent.

2.)
on a new row, with all fields blank for CSS, the frontend is still outputting inline padding and margin, which forces me to add !important rules.

3.) When Inked Blog is selected as a block, the standard page header (it is enabled) as well

[2018-02-19 09:14] frontenddevguy commented on #320
The support thread over on siteorigin.com didnt allow me to comment for some reason.

Here is a screenshot: https://imgur.com/a/8xjCG that also shows the inline styles. Also here, no values are set in the 'design' section.

Seems wp went from adding <p> tags unnecessarily to everything to removing them from everything then. Sure enough <p> tags are missing from everything except footer textwidget.

[2018-02-21 16:16] AlexGStapleton commented on #320
Hi frontenddevguy,

Sorry for the delay - I didn't see this until now. Please note that these issues aren't directly related to SiteOrigin Noth (although 3 may be indirectly related). Regardless...

1. To confirm, what widget are you using? Also, can you please provide me with example HTML that's getting stripped?

2. The provided screenshot suggests an altered row layout which means that the inli

[2018-02-23 19:59] #319 closed

[2018-02-27 21:05] frontenddevguy commented on #320
I had to prioritise getting the site live, and starting another one.
It's live here (still needs a bit of optimisation for load/performance):
https://tictocsing.com/

1.) That was with rich text editor (text) widget. <p> tags were being stripped. The screenshot shows it.

2.) I specified full width, but no margin or padding in any of the fields.
I would say that expected functionality is that thos

[2018-02-28 11:34] AlexGStapleton opened #321 "Mobile Menu: Page Jumps won't close mobile menu after clicked"
[Reported here](https://siteorigin.com/thread/mobile-menu-not-disappear-clicking-floating-one-pager/). I think this is related to #316

Click a link designed for the current page ([one page links](https://siteorigin.com/one-page-websites-page-builder/)) and the browser will correctly scroll to the correct area but the mobile menu won't close.

[Reference video](https://drive.google.com/a/siteorigi

[2018-02-28 11:49] AlexGStapleton commented on #320
1. TinyMCE will remove any instances of <p> without a class attached. This is sadly avoidable and if you wish to manually add paragraphs (without a class), you'll need to use something like the Custom HTML widget or not switch mode (which is what triggers the replacement in the text widget). This sadly was intentionally done by WordPress.

2. The margin and padding are automatically generated by u

[2018-02-28 11:57] Misplon commented on #321
@adiraomj There is also an error in the console from our recent commit:

`north.js?ver=dev:262 Uncaught TypeError: $(...).hasClass(...).attr is not a function
    at HTMLAnchorElement.<anonymous> (north.js?ver=dev:262)
    at HTMLAnchorElement.dispatch (jquery.js?ver=1.12.4:3)
    at HTMLAnchorElement.r.handle (jquery.js?ver=1.12.4:3)`

[2018-02-28 12:15] frontenddevguy commented on #320
Hi, unfortunately I am into the next project with a tight deadline so no time for adding test cases to staging right now.. I will do it soon.

1.) and 2.) - Understood. Nothing that can't be worked around or that affects performance anyway.

Video carousel would probably have been Livemesh. I will contact them about it.

I found one more bug, which is with SO slider. It outputs an image even when

[2018-02-28 16:31] frontenddevguy commented on #320
And trying to add this shortcode in text widget:
[related_posts_by_tax]
works

[related_posts_by_tax format="thumbnails" image_size="medium"]
renders nothing

This is for 'Related Posts by Taxonomy' plugin

Some problem with quotes in shortcodes?

[2018-03-01 09:44] AlexGStapleton commented on #320
Regarding the slider image output, can you please link me to a page where I can inspect this?

Regarding the shortcodes, no, there are no issues (that we're aware of) with using quotes in the shortcode so the issue you're facing isn't related to that. Can you please try replicating this issue in the SiteOrigin Editor widget with Automatically add Paragraphs disabled? Please note that the text widg

[2018-03-02 09:46] frontenddevguy commented on #320
Hi Alex, I have set up a test site to check on these issues.
Please let me know how I can pm you details.

[2018-03-02 09:56] frontenddevguy commented on #320
I have tried adding the shortcode with add Paragraphs disabled and the result is the same

[2018-03-02 10:02] frontenddevguy commented on #320
Shortcode issues solved, it depended on featured images being set to output anything.

[2018-03-03 12:38] #321 closed

[2018-03-05 06:49] AlexGStapleton commented on #320
Can you please email the details to support@siteorigin.com? Please include a link to this thread for reference.

[2018-03-08 22:34] #320 closed

[2018-03-13 07:07] AlexGStapleton opened #323 "WooCommerce: Sidebars spacing cannot be removed due to less specific CSS"
The WooCommerce sidebar spacing cannot be removed if the specific sidebar is set to not have a sidebar. This is as a result of the no sidebar CSS being less specific than the WooCommerce sidebar spacing selector.

![](https://i.imgur.com/aw8HsuV.png)

[2018-03-13 07:24] Misplon commented on #323
Hey Alex where is this happening? What was the test case?

[2018-03-13 08:05] AlexGStapleton commented on #323
Open the cart page, head over to the page settings box and set the **Page Layout** to **No Sidebar**.

[2018-03-13 08:31] Misplon commented on #323
Bit of an overlapping mess now. Corp is much cleaner in this area. Will probably have to introduce another set of page settings rules with woocommerce prefixes.

[2018-03-13 08:50] AlexGStapleton commented on #323
Is it too late to rip the Shop sidebar out and tell people to use something like WooSidebars? :(

[2018-03-13 08:51] Misplon commented on #323
Unfortunately, that ship has sailed.

[2018-03-13 09:42] Misplon commented on #323
Can't currently re-create, Alex to report back later.

[2018-03-17 13:49] #323 closed

[2018-03-21 08:47] Misplon opened #324 "Font import only works with main font setting"
The Google font import is only added to the settings CSS in the head if the main font setting is set. If the main font is not set and for example the heading font is set, the rules will be outputted but no import added. If the main font is set then the heading font import works, it just adds onto the main font import.

Summary: Main font is the only font setting able to add a Google import.

[2018-03-21 08:55] Misplon commented on #324
Most likely a framework bug: https://github.com/siteorigin/settings/issues/46

[2018-03-22 09:45] Misplon commented on #324
Resolved https://github.com/siteorigin/settings/commit/b1a05ed8f35f565afca9ff5a20c91e8013638895

[2018-03-22 09:45] #324 closed

[2018-04-06 13:11] frontenddevguy opened #326 "Retina logo appearing as mobile menu icon?!"
On North theme, I set the 2x retina logo image.

When in responsive view, this logo is being output in the frontend as an img tag to trigger the mobile menu, which is unexpected behaviour.
I then see 2 logos on the screen. The original one, and the 2x one which has replaced burger menu.
I looked through Customizer but couldn’t see where this could be set.

Even after I delete the retina image in C

[2018-04-06 18:06] Misplon commented on #326
Hi @frontenddevguy

At `Theme Settings > Icons` can you please confirm there is no image/icon set?

[2018-04-07 17:33] frontenddevguy commented on #326
Icons! Sorry, I totally overlooked that setting.

[2018-04-07 17:33] #326 closed

[2018-04-08 11:14] Misplon commented on #326
Super, glad that helped. All the best.

[2018-04-10 07:52] Misplon opened #327 "WooCommerce single product warning"
https://github.com/siteorigin/siteorigin-north/blob/develop/woocommerce/single-product/meta.php#L18

`Warning: sizeof(): Parameter must be an array or an object that implements Countable`.

@adiraomj Do we still need this?

[2018-05-05 18:25] frontenddevguy opened #328 "After pulling db from live site to localhost, button widgets do not open"
After pulling my db (with Migrate DB) from live site to localhost, button and call to action widgets do not open.
Only these widgets seem to be affected.

Clicking edit just brings up today's date and time, and otherwise a white screen.

[2018-05-05 18:28] Misplon commented on #328
Hi Yan, strange its only the Button widget. Is it the new button widget? Or the legacy widget? If it's the legacy widget, is Settings > Page Builder > Legacy Bundled Widgets enabled? No need to enable if it's the SiteOrigin Button widget powered by the Widgets Bundle we're discussing.

[2018-05-05 18:33] Misplon commented on #328
If it's the new widget, is Plugins > SiteOrigin Widgets > Button widget enabled? If it is, check PHP memory limit, set it to 256m in wp-config.php just to make sure. If that doesn't help, is PHP running ver. 7 or 7.2? If it is, does the issue persist with all other plugins (non-SiteOrigin) disabled?

[2018-05-05 18:41] frontenddevguy commented on #328
It's the standard button and call to action widgets.
They were enabled (as they are on live).
I tried disabling and re-enabling them as well as clicking update on the page, logging out and in again.

At first I thought it might be because local needed a theme update but the problem persists after updating and the above steps afterwards

[2018-05-05 18:44] Misplon commented on #328
Copy that.

It's a new environment so please try above steps, PHP memory to max in wp-config.php and ensure PHP 7 or 7.2.

[2018-05-05 18:45] frontenddevguy commented on #328
PHP is 7.1
http://localhost/phpinfo.php is set to 128M and affects all sites

[2018-05-05 18:47] frontenddevguy commented on #328
Nothing changed from localhost and live as they were working fine during development.
Problem persists with PHP 7

[2018-05-05 18:48] Misplon commented on #328
That's all the easy points checked off.

This isn't related to North, it's a Page Builder migration challenge.

There can be migration issues if the data isn't serialized.
https://deliciousbrains.com/wp-migrate-db-pro/doc/serialized-data/
Looks to be a pro feature of this plugin.

Best to use Duplicator then which covers serialized data in free.

[2018-05-05 18:49] frontenddevguy commented on #328
Very strange, I've been using page builder on my last 5 sites, and WP Migrate DB forever and never seen anything like this

[2018-05-05 18:49] Misplon commented on #328
Not sure why that's the case but Page Builder does require the data to be migrated with serialized support.

[2018-05-05 18:50] frontenddevguy commented on #328
I'm actually using WP Sync DB, which is a free fork of the DB one

[2018-05-05 18:50] Misplon commented on #328
So not WP Migrate DB??

[2018-05-05 18:52] frontenddevguy commented on #328
owner of WP Sync Db says:

[2018-05-05 18:52] frontenddevguy commented on #328
Maybe it got corrupted though, I will try pulling across to staging and see what happens.

[2018-05-05 18:53] Misplon commented on #328
But after that a user also says:

I dont think so..

Serialized data gets corrupted when replaced with this plugin.

[2018-05-05 18:55] Misplon commented on #328
Serialized data not properly handled accounts for 99.99% of our DB migration issues with Page Builder.

Cool, hope this helps you resolve. We do know that Duplicator handles this nicely, so that's our go to in terms of recommending a plugin to do quick and complete site moves. Duplicator gets tricky with bigger files which is where I think they split into Pro if memory serves me, but don't hold me

[2018-05-05 18:57] Misplon commented on #328
And for sure. If this plugin has been working nicely for you in the past, perhaps it was a temporary issue with this particular migration. Definitely worth trying again to see if the problem repeats itself. Hopefully it doesn't :)

Hope the rest of the weekend goes a bit smoother, cheers from Cape Town.

[2018-05-05 18:57] frontenddevguy commented on #328
Cool, I will try it.
First time I had a problem with WP Sync DB!
Also tried Wordmove, which is great for files, but couldnt get it to handle the db

[2018-05-05 18:58] Misplon commented on #328
Definitely worth another shot. If it's been handling your previous migrations then that would hint at the plugin handling the data correctly.

[2018-05-05 19:03] frontenddevguy commented on #328
Thanks for replying so quickly! I will try a few things and update with my findings..

[2018-05-05 19:04] Misplon commented on #328
For sure :) Let us know how it goes. Keep Duplicator in mind as an option.

[2018-05-05 20:47] frontenddevguy commented on #328
Duplicator does not seem like a usable option with the free version, not supporting replacing existing site content.
I tried pulling across to staging with WP Sync DB, and the issue persists with a slight twist.
The button editor window itself loads, rather than a loading a white screen, but it just continues loading and never retrieves the content.

I did get an alert from Wordfence asking if I w

[2018-05-05 20:51] Misplon commented on #328
I'll ask Alex to comment here on Monday. You can move the DB manually and update the essential data manually, that's an option for sure.

Chat soon. Enjoy the break. Cheers :)

[2018-05-07 03:16] AlexGStapleton commented on #328
Based on the initial post, it sounds something is blocking those widgets rather than a general data issue. To clarify, are you able to add a new Button widget and edit it before saving? What about after saving? Have you used this hosting provider before?

Are you using Wordfence locally? While I don't think this is specifically Wordfence blocking it, it is quite possible it's incorrectly flagged u

[2018-05-14 13:36] #328 closed

[2018-05-14 13:37] Misplon commented on #328
Hi Yan :) Please, feel free to reopen this if you want to dive in again based on the feedback from Alex above. Thanks.

[2018-05-29 07:13] AlexGStapleton opened #330 "Output the featured image in search results"
We should output the featured images in search results.

[Slack](https://siteorigin.slack.com/archives/C02T5GSNA/p1527577496000342)

[2018-05-31 08:43] Misplon opened #331 "Update WooCommerce templates to 3.4.0 or latest master version"
Update WooCommerce templates to 3.4.0 or latest master version.

[2018-06-01 10:17] Misplon commented on #331
Resolved https://github.com/siteorigin/siteorigin-north/pull/332.

[2018-06-01 10:17] #331 closed

[2018-06-26 12:07] frontenddevguy opened #333 "Erronneous tags appearing in posts"
Searched around for this one and found no hits, so maybe its theme-specific.

I have a client site where new blog posts are showing the wrong tags.
I have checked cache (disabled), cloudflare was switched off and cache purged.

Example:
https://sunskycoaching.co.uk/grow-your-own-superhero-team/

![screen shot 2018-06-26 at 13 06 57](https://user-images.githubusercontent.com/3789940/41910530-d76657

[2018-06-26 15:46] siteorigin-support commented on #333
Hi Yan

Good to hear from you.

The sidebar contains a Tag Cloud widget which will show all tags, not just tags for the post.

[2018-06-27 19:57] frontenddevguy commented on #333
Ah can't believe I missed that! I just need to highlight the active ones.
Thanks :)

[2018-06-27 19:57] #333 closed

[2018-06-27 19:57] siteorigin-support commented on #333
-- Please reply above this line --

Hi Siteorigin/siteorigin-North

Thanks for contacting SiteOrigin.

We’ve received your email and are working on responding as soon as
possible. We’re based in Cape Town, South Africa (GMT+2). Our
business hours are Monday to Friday, 9am to 5pm.

Thanks in advance for your patience and support.

[2018-06-28 05:19] AlexGStapleton opened #334 "Remove .container padding when using full width layout"
Removing the container padding prevents spacing on the left and right of rows with a background color.

![](https://vgy.me/4NTTKs.png)
[Slack](https://siteorigin.slack.com/archives/C02T5GSNA/p1530149602000030)

[2018-07-15 18:27] AlexGStapleton opened #335 "Woocommerce: Add Equalise Add to Cart placement"
We should add a WooCommerce specific setting that allows users to equalise the placement of the Add to Cart button on shop pages and in related products.

[2018-07-17 12:54] #334 closed

[2018-07-19 06:45] #330 closed

[2018-07-19 15:10] #335 closed

[2018-07-30 13:28] AlexGStapleton opened #336 "If Privacy Page is defined in WordPress, show footer link"
We should add a privacy page link to the footer when we detect the privacy page has been defined in WordPress.

[Related](https://siteorigin.com/thread/where-to-put-privacy-policy-mono-north-theme/)

[2018-08-15 19:12] #336 closed

[2018-08-26 14:56] Misplon opened #338 "Fix sidebar responsive behaviour"
Reported on Twitter. Responsive issue with sidebar behaviour due to specificity problems.

[2018-08-26 15:00] Misplon opened #339 "WooCommerce: Resolve product overlap on mobile"
Reported product overlap on small screens.

https://siteorigin.com/thread/woocommerce-shows-2-products-in-responsive-mode-north

[2018-08-26 15:57] Misplon commented on #338
![dlrwmh7w4aa6nce](https://user-images.githubusercontent.com/789159/44630153-88605c00-a959-11e8-8cdf-d3405df31b9c.jpg)

[2018-08-26 15:58] #338 closed

[2018-08-26 15:58] #339 closed

[2018-09-25 13:33] Misplon opened #342 "Sticky Header Logo Resize: At scroll top sentinel height not matching masthead"
With sticky and resize on, at scroll top, the sentinel height isn't matching the masthead height.

[2018-09-27 10:11] #342 closed

[2018-10-22 13:45] AlexGStapleton opened #344 "Add dedicated setting to disable Privacy Policy Footer Link"
The WordPress Privacy Policy page link in the footer is a great idea but certain users have asked to disable it. Currently to do this you'll need to completely disable the Privacy Page to remove this link but certain plugins rely on that setting to output the privacy policy also. For example, ooComemrce will only output the following on the checkout when privacy policy is set:

![](https://vgy.me/

[2018-10-23 18:57] AlexGStapleton opened #345 "WooCommerce 3.5 template updates"
The following templates are outdated as of WooCommerce 3.5:

cart/cart.php
cart/mini-cart.php
checkout/form-checkout.php

[2018-10-26 09:20] Misplon commented on #345
@AlexGStapleton Please, can you give this linked commit a very careful review and test. Thanks.

[2018-10-29 10:16] #345 closed

[2018-10-30 18:55] #344 closed

[2018-12-27 15:18] Misplon opened #351 "Retina Logo doesn't work with Site Identity as the base logo"
Retina Logo setting doesn't work if the base logo is added via Site Identity. We have this working in Corp, albeit without the second base logo option in Theme Settings.

[2018-12-28 09:04] #351 closed

[2019-02-28 14:40] AlexGStapleton opened #356 "Sub menu doesn't open on hover when browser has Touch Events API enabled"
[Reported here](https://siteorigin.com/thread/submenu-hover-not-working-in-chrome/)

Appears to be related to [this section in north.js](https://github.com/siteorigin/siteorigin-north/blob/1.6.7/js/north.js#L115-L146).

Possible related PRs:
https://github.com/siteorigin/siteorigin-north/pull/97
https://github.com/siteorigin/siteorigin-north/pull/135

[2019-02-28 14:56] AlexGStapleton commented on #356
I can't spot why this is happening. Due to this being a non-standard setting, we've decided to put this on hold for the time bieng. If this feature is ever added to the base Chrome settings, we'll pick this back up.

[2019-03-07 08:16] #356 closed

[2019-03-07 17:47] AlexGStapleton opened #359 "Add Jetpack Portfolio support"
Add Jetpack Portfolio support. Should be able to base most of the work on the Unwind implementation.

[2019-04-19 08:14] AlexGStapleton opened #363 "Setting the Medium Text color to #fff will result in inputs being unreadable"
The Medium Text color setting [applies its styling to inputs](https://github.com/siteorigin/siteorigin-north/blob/1.6.8/inc/settings.php#L580-L583). This is problematic for users who set the Medium Text color to #fff as North doesn't set a custom input background color so in most browsers the text entered into inputs isn't visible due to default input browser styling.

Chrome example:
![](https://

[2019-04-19 15:37] Misplon commented on #363
How often is this being raised? I'm tempted to add a snippet to the docs if it's seldom.

[2019-04-19 15:39] AlexGStapleton commented on #363
It's been raised a few times. Honestly, you could get away with a snippet imo

[2019-04-22 10:26] #363 closed

[2019-04-29 08:08] Misplon opened #365 "Add a Posts Slider"
Add a Posts Slider like Unwind and Corp.

[2019-05-07 08:23] Misplon opened #366 "Mobile Menu Background Setting Dual Variables"
The mobile menu background and opacity settings aren't working. This is most likely due to having two variables in a value:

[code]

The above doesn't work and will output as follows:

<img width="300" alt="2019-05-07_16-57-29-658" src="https://user-images.githubusercontent.com/789159/57284566-b9308d80-70b1-11e9-9c49-baf863099de6.png">

I've tried my best to work around this. There isn't a method

[2019-05-07 21:32] braamgenis commented on #366
I'll take a look

[2019-05-07 22:18] braamgenis commented on #366
Hmmm... the settings seem to work fine for me. I checked the code where the values are being replaced and all seems fine. Am I missing something?

[2019-05-07 22:26] Misplon commented on #366
I’m out for the night but have you set all custom values in the customizer
for the menu font, background color and background opacity? The result is
the screenshot in the issue. Can report more tomorrow

On Wed, May 8, 2019 at 12:18 AM Braam Genis <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-05-07 23:07] braamgenis commented on #366
Cool. Found the issue. It was a missing [semi-colon](https://github.com/siteorigin/settings/commit/40261e75546179f0c64eb6dbd273c4e569089184).

[2019-05-08 09:29] Misplon commented on #366
Excellent, thanks for the fix! Had nightmares this semi-colon was in the theme and I had called you over for nothing, hahaha.

[2019-05-08 10:16] Misplon commented on #366
Update Settings, all working normally. Live Preview in the Customizer isn't functioning though. Not sure why but don't want me to spend much more time on this one unless the demand arises.

[2019-05-08 10:16] #366 closed

[2019-08-19 07:23] therichpost commented on #166
**Hello to all, please check this image in attached link and hope this is the perfect solution.**
[Woocommerce mini cart add change quantity button](https://therichpost.com/woocommerce-mini-cart-add-change-quantity-button)

[2019-08-21 18:57] Misplon opened #368 "Add Site Title and Tagline color settings"

[2019-08-21 19:01] Misplon opened #369 "Consider adding WooCommerce Mini-Cart color settings"
Consider adding WooCommerce Mini-Cart color settings. The test would be a black header. The colors currently in use aren't exactly the same as the menu so it's hard to borrow that selection.

[2019-09-19 16:08] AlexGStapleton opened #370 "WooCommerce Template Builder: Products Meta widget doesn't output"
The WooCommerce Template Builder Products Meta widget doesn't output anything when used. The Products Meta widget uses [woocommerce_template_single_meta()](https://docs.woocommerce.com/wc-apidocs/source-function-woocommerce_template_single_meta.html#1518-1523).

[2019-09-23 19:34] AlexGStapleton opened #371 "WC: If no product description is set, related products won't display correctly"
If a product doesn't have a description but has related products, the related products will be squished in between the product image and title.

![](https://i.imgur.com/8kNNGGy.png)

I provided the user with the following temp fix:
[code]

[2019-09-24 09:36] Misplon commented on #371
Was this issue created with the WC Template Builder or the regular WC layout? I'm not yet able to recreate the issue.

<img width="945" alt="Test_Product_-_SiteOrigin" src="https://user-images.githubusercontent.com/789159/65500403-8b60af80-debf-11e9-97b6-b4da9fc5eb48.png">

[2019-09-24 09:42] AlexGStapleton commented on #371
Regular layout. Try giving the product a price (so that it's purchasable) to see if that helps.

[2019-09-24 10:08] Misplon commented on #371
I was using the WC Template Builder.

[2019-10-19 19:14] Misplon opened #376 "Exclude logo from LiteSpeed Cache lazy loading"
Exclude the logo from being lazy-loaded by LiteSpeed Cache as we did with JP.

[2019-10-20 17:04] Misplon commented on #376
@AlexGStapleton You did the work excluding JP Lazy Loading, please, take a look at this one in the new week. Thanks.

[2019-10-21 05:20] AlexGStapleton commented on #376
Figured out how to do this. Where would you like me to put the code for this? template-tags.php?
Also, `siteorigin_north_litespeed_lazy_load_exclude_logo` is a bit long for a function name. Do you have any suggestions for a shorter (but still descriptive) one?

[2019-10-21 10:27] AlexGStapleton commented on #376
That feels hard to read and will require a comment to explain things. What about `siteorigin_north_litespeed_lazy_exclude`? It's general but it's clear what is for. It doesn't mention logo, but I think that's fine as it's clearer (and shorter) overall.

[2019-10-21 10:29] Misplon commented on #376
That's fine.

[2019-10-21 17:32] #376 closed

[2019-11-07 16:58] AlexGStapleton opened #381 "Block Editor: Increase max-width of Blocks to Same Width as Theme Container"
We should increase the max-width of the Blocks in the Block Editor to be the same size as the content container to give users a better idea of how their page will look.

[Related doc](https://developer.wordpress.org/block-editor/developers/themes/theme-support/#changing-the-width-of-the-editor)

[2019-11-11 14:17] #381 closed

[2019-12-04 16:58] Misplon opened #385 "Adi please contact Andrew"
Hi Adi, if this reaches you, please contact me here or on Slack or via my personal email address amisplon at gmail.com. I'm unable to reach you via email. Thanks.

[2019-12-12 10:38] Misplon opened #386 "WooCommerce: Check price filter widget styling"
It appears the North price filter widget styling for the slider is being overwritten by the core WC styles.

[2019-12-23 17:16] #385 closed

[2019-12-23 17:17] Misplon opened #387 "Footer: Side Padding: Reduce for mobile"
Reduce the footer side padding setting for mobile.

[2019-12-24 11:32] #387 closed

[2020-03-17 19:36] Misplon commented on #370
Resolved via https://github.com/siteorigin/siteorigin-north/pull/373.

[2020-03-17 19:36] #370 closed

[2020-04-24 09:40] Misplon opened #390 "Smooth Scroll: Ensure header offset is working from external link"
When arriving at an anchor from an external link, ensure that the header offset is applied when the sticky header is in use.

[2020-05-27 09:34] Misplon opened #391 "Page Settings: No Sidebar isn't working when a Post Loop widget in use"
When a Post Loop widget is used on a page, the No Sidebar page layout setting isn't working.

[2020-07-03 11:32] Misplon opened #392 "WooCommerce: Right align tax and shipping values"
![Checkout_-_SiteOrigin](https://user-images.githubusercontent.com/789159/86465267-9b040300-bd31-11ea-9546-a1c6f16e756d.jpg)

[2020-07-12 12:33] #392 closed

[2020-07-26 18:17] Misplon opened #393 "Post Loop Pagination: Line breaks are being inserted"
Pagination is vertical when the Post Loop widget is used due to line breaks being inserted after each page link.

[2020-07-27 19:21] Misplon commented on #393
@AlexGStapleton I've seen this issue in Corp too. I'm not sure if it's related to the new unit test data with block posts/pages. In Corp the issue is only occurring on page 1, the pagination is normal on page 2.

![About_The_Tests_-_SiteOrigin](https://user-images.githubusercontent.com/789159/88582474-0e5a1580-d04f-11ea-85c3-e1ccc8799c8c.jpg)

[2020-07-28 15:42] AlexGStapleton commented on #391
I've investigated this issue and this issue is actually a general issue in the theme Settings framework. Whatever the last post is that is loaded prior to the `siteorigin_page_setting` check will be the value used.

We have two ways of fixing this:

- Return the default value for any `siteorigin_page_setting` checks done in a post loop
- Always check using the current query id rather than the pare

[2020-07-28 16:25] AlexGStapleton commented on #393
I can't replicate this in Corp, but I can replicate this in North and Vantage. This issue appears to be linked to Yoast. Does this issue occur if you disable that plugin?

[2020-07-28 19:54] Misplon commented on #393
I noticed that I can't replicate this issue on the assigned home page. Yes, deactivating Yoast resolves the problem.

[2020-07-28 20:01] Misplon commented on #393
I've rolled back to Yoast 1.14.0 and am not seeing a change. I also tried Page Builder 2.9.0 and didn't notice a change.

[2020-08-02 17:58] AlexGStapleton commented on #393
I've been looking into this and I'm having a really tricky time working out the exact source of this issue. @Misplon Do you happen to know when the first time you saw this reported?

[2020-08-04 11:20] Misplon commented on #393
I can't seem to replicate the issue at the moment. Do you want to close until we get a user report? I found the issue and logged it, a user hasn't reported this problem yet as far as I'm aware.

[2020-08-04 12:27] #391 closed

[2020-08-04 16:44] AlexGStapleton commented on #393
I can still replicate this, but I'm okay with waiting until more reports.

Here's how to replicate this:

-Activate Yoast,
- Switch to North (though this can happen with other themes).
- Add a Post Loop to your page.
- Add a Custom HTML widget.

Add the following to that custom HTML widget:

`same line

same line`

- Save.

The above text should be on the same line as the custom HTML widget doesn'

[2020-08-05 10:19] Misplon commented on #393
It's strange, I still can't replicate this issue anymore. I'm going to close until we get a report on this. Thanks.

[2020-08-05 10:19] #393 closed

[2020-08-19 06:25] DyzanaPProjects opened #396 "Add Blog Archive Layout to North Theme"
I am requesting to add SiteOrigin Blog Layout: Grid Layout, Alternate Layout, and Offset Layout for Blog Postings for the Blog Page. This is for the SightOrigin North Theme

[https://siteorigin.com/new-blog-layouts-unwind/]

[2020-08-29 12:00] Misplon opened #398 "Page Template Settings: Check WC page title"
[code]

[2020-08-31 11:21] Misplon commented on #398
Resolved via https://github.com/siteorigin/siteorigin-north/pull/399.

[2020-08-31 11:21] #398 closed

[2020-10-19 19:16] #390 closed

[2020-10-24 17:03] Misplon opened #404 "WCTB: Resolve the cart page missing checkout button"
Using the SO Premium WCTB, resolve the missing checkout button on the cart page. Improve styling if time is available.

[2021-04-16 09:57] AlexGStapleton opened #415 "WC Products Shortcode will cause sidebar spacing to be present"
If you add a WC products shortcode to a non-WC page and have no sidebars set up, the space for the sidebar will be present.

A quick look at the sidebar CSS suggests that we're expecting the woocommerce body class not to be set, but WC will add it when it detects the products shortcode.

[2021-05-17 08:46] Misplon opened #417 "Branding Site Title Setting Not Working"
The Site Title setting in Theme Settings > Branding doesn't seem to be functional.

[2021-05-17 13:29] Misplon commented on #417
The setting is functional it just doesn't have the best label.

[2021-05-17 13:29] #417 closed

[2022-02-06 18:48] #415 closed

[2022-05-19 18:24] Misplon opened #425 "Check on review potential errors raised"
Ref: https://themes.trac.wordpress.org/ticket/118098#comment:2